<div id="notifications" class="text-center" style="display:none">
    <p>You are viewing a saved selection of courses.</p>
    <p><a href="{% if type == 'selection' %}{% url selected-courses sem_year,sem_month %}{% else %}{% url schedules sem_year,sem_month %}{% endif %}" data-action="adopt-selection">
      Clone to customize
    </a>
    or <a href="{% if type == 'selection' %}{% url selected-courses sem_year,sem_month %}{% else %}{% url schedules sem_year,sem_month %}{% endif %}">
      view to your selection
    </a>
    instead.</p>
</div>
