{% extends 'site_base.html' %}

{% load url from future %}

{% block title %}Schedules | {% endblock %}

{% block head %}
<meta name="robots" content="NOINDEX, FOLLOW">
{% if selection %}
    <meta name="selection-raw" content="{{ raw_selection|escape }}">
{% endif %}
{{ block.super }}
{% endblock %}

{% block body_id %}schedules-page{% endblock %}

{% block header %}
{{ block.super }}
{% include '_nav.html' with selected='schedules' selection=selection %}
{% endblock header %}

{% block content %}
{% if selection %}
{% include 'scheduler/_saved_selection_notification.html' with type='schedules' sem_year=sem_year sem_month=sem_month %}
{% endif %}

<div id="thumbnails"></div>
<div id="schedules" class="clear" data-schedule="{{ id }}" data-start="{{ index }}" data-url-base="{% url 'schedules' sem_year sem_month %}">
<p><img src="{{ STATIC_URL }}img/spinner.gif" alt="Loading" style="margin: 20px 0 20px 0"></p>
<noscript>
    Sorry, javascript is required to view schedules :(
</noscript>
</div>

<p class="tip clear">Psst, you can also use &larr; and &rarr; to move between the schedules too!</p>

{# functions: humanize_time, humanize_hour, period_height, period_offset #}
{# defined: schedule, time_range, courses, sections, color_map, sid, dows, timemap #}
<script type="text/template" id="schedule_template" data-period-height="50">
  <% var first=(sid===1), last=(sid===schedules.length), secmap = timemap; %>
  <div id="schedule<%- sid %>" class="schedule_wrapper" data-sid="<%- sid %>">
    <h1>
      <% if (schedules.length > 1){ %>
      <a href="#thumbnails" class="show-thumbnails view-schedules">
        <img src="{{ STATIC_URL }}img/thumbnails.gif" alt="View Thumbnails" />
      </a>
      <% } %>
      <a name="schedule<%- sid %>" class="schedule_number">
        Schedule <%- sid %>
        <%- (schedules.length > 1) ? '/ '+schedules.length : '' %>
      </a>
  </h1>
    <p class="schedule-crns">
    <%- crns.join(', ') %>
    <% param = "?crn=" + crns.join("&crn=") %>
    <p class="share">
        <a href="{% url 'ics' %}<%- param %>">iCal</a>
        or
        <a href="javascript:print()">print this page</a>
    </p>
    <div class="schedule">
      <% for(var j=0, l2=dows.length; j<l2; ++j){ var dow = dows[j], secsforday = secmap[dow]; %>
        <div class="dayview">
          <h2 class="dow"><%- dow %></h2>
          <div class="hourview">
            <% for(var k=0, l3=time_range.length; k<l3; ++k) { var hour = time_range[k]; var period = secsforday && secsforday[hour]; %>
              <div class="row">
                <span class="hour"><%- humanize_hour(hour) %></span>
                <% if(period) {
                  var section = sections.get(period.section_id),
                    course = courses.get(section.get('course_id')),
                    height = period_height(period),
                    offset = marginTop = period_offset(period);
                  %>
                  <span style="height: <%- height %>px; <% if (offset) { %>margin-top: <%- offset %>px<% } %>" class="class
                    color<%- color_map[course.id] %>
                    <%- height <= 35 ? 'very' : '' %>
                    <%- height <= 60 ? 'small' : '' %>
                    <%- height <= 80 ? 'medium' : '' %>">
                    <span class="time">
                      <span class="start"><%- humanize_time(period.start) %></span>
                      <span class="sep">-</span>
                      <span class="end"><%- humanize_time(period.end) %></span>
                    </span>
                    <span class="code">
                      <%- departments.get(course.get('department_id')).get('code') %>
                      <%- course.get('number') %>-<%- section.get('number') %>
                      <span class="crn">#<%- section.get('crn') %></span>
                    </span>
                    <span class="name">
                      <%- course.get('name') %>
                    </span>
                    <span class="kind">
                      <%- period.kind %>
                    </span>
                    <span class="instructor">
                      <%- period.instructor %>
                    </span>
                    <span class="location">
                      <%- period.location %>
                    </span>
                  </span>
                  <% } %>
              </div>

              <% } %>
          </div>
        </div>
        <% } %>
    </div>
  </div>
</script>

{# functions: period_height #}
{# defined: schedule, time_range, courses, sections, color_map, sid, timemap #}
<script type="text/template" id="thumbnail_template" data-period-height="6">
<% var first=(sid===1), last=(sid===schedules.length), secmap = timemap; %>
<div id="schedule_thumbnail<%- sid %>" class="schedule_wrapper thumbnail" data-sid="<%- sid %>">
    <a class="schedule select-schedule" href="#schedule<%- sid %>">
    <% for(var j=0, l2=dows.length; j<l2; ++j){ var dow = dows[j]; var secsforday = secmap[dow]; %>
        <div class="day">
        <% for(var k=0, l3=time_range.length; k<l3; ++k) { var hour = time_range[k]; var period = secsforday && secsforday[hour]; %>
            <div class="row <%- (hour === 11) ? 'prenoon' : '' %> <%- (hour === 12) ? 'noon' : '' %> <%- (hour > 12) ? 'afternoon': '' %>">
            <% if(period) {
                var section = sections.get(period.section_id);
                var course = courses.get(section.get('course_id'));
                var height = period_height(period);
                %>
                <span style="height: <%- height %>px; top: <%- period_offset(period) %>px" class="class
                color<%- color_map[course.id] %>
                <%- height <= 35 ? 'very' : '' %>
                <%- height <= 60 ? 'small' : '' %>
                <%- height <= 80 ? 'medium' : '' %>">
                </span>
            <% } %>
            </div>
        <% } %>
        </div>
    <% } %>
    </a>
</div>
</script>

<script type="text/template" id="computation_limit_template">
<p class="text-center">Too many sections for YACS. He's got too much work.</p>
<p class="text-center">
    <img src="{{ STATIC_URL }}img/too-many-crns.jpg" alt="No Schedules" />
</p>
<p class="text-center">Photo by <a href="http://www.flickr.com/photos/oliphant/152629870/">Oliphant</a></p>
</script>

<script type="text/template" id="no_schedules_template">
<p class="text-center">No possible schedules :(<br />Don't make the kitty mad...</p>
<p class="text-center">
    <img src="{{ STATIC_URL }}img/no-schedules.jpg" alt="No Schedules" />
</p>
<p class="text-center">Photo by <a href="http://www.flickr.com/photos/poenaru/1304953088/">Hannibal Poenaru</a></p>
</script>
{% endblock content %}

{% block sidebar %}
{#% include 'courses/_selected_courses.html' %#}
{% endblock sidebar %}
