{% extends 'angular/index.html' %}

{% block js %}
<link rel="shortcut icon" type="image/png" href="{{ STATIC_URL }}jasmine-1.3.1/jasmine_favicon.png">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}jasmine-1.3.1/jasmine.css">

<script src="{{ STATIC_URL }}jasmine-1.3.1/jasmine.js"></script>
<script src="{{ STATIC_URL }}jasmine-1.3.1/jasmine-html.js"></script>
<script src="{{ STATIC_URL }}angular-1.1.5/angular-mocks.js"></script>

<script src="{{ STATIC_URL }}specs/console-runner.js"></script>
<!-- include spec files here... -->
<script src="{{ STATIC_URL }}specs/SpecHelper.js"></script>
<script src="{{ STATIC_URL }}specs/UtilsSpec.js"></script>
<script src="{{ STATIC_URL }}specs/ApplicationSpec.js"></script>
<script src="{{ STATIC_URL }}specs/domain/APIClientSpec.js"></script>
<script src="{{ STATIC_URL }}specs/domain/TaggerSpec.js"></script>
<script src="{{ STATIC_URL }}specs/domain/ModelFactorySpec.js"></script>
<script src="{{ STATIC_URL }}specs/domain/models/SemesterSpec.js"></script>
<script src="{{ STATIC_URL }}specs/domain/models/CourseSpec.js"></script>
<script src="{{ STATIC_URL }}specs/domain/models/DepartmentSpec.js"></script>
<script src="{{ STATIC_URL }}specs/domain/ScheduleValidatorSpec.js"></script>
<script src="{{ STATIC_URL }}specs/domain/ConflictorSpec.js"></script>
<script src="{{ STATIC_URL }}specs/controllers/RootControllerSpec.js"></script>
<script src="{{ STATIC_URL }}specs/controllers/FooterControllerSpec.js"></script>
<script src="{{ STATIC_URL }}specs/controllers/NavigationControllerSpec.js"></script>
<script src="{{ STATIC_URL }}specs/controllers/SearchControllerSpec.js"></script>
<script src="{{ STATIC_URL }}specs/controllers/SearchResultsControllerSpec.js"></script>
<script src="{{ STATIC_URL }}specs/controllers/DepartmentControllerSpec.js"></script>
<script src="{{ STATIC_URL }}specs/controllers/CatalogControllerSpec.js"></script>
<script src="{{ STATIC_URL }}specs/controllers/IndexControllerSpec.js"></script>
<script src="{{ STATIC_URL }}specs/controllers/SelectionControllerSpec.js"></script>

<script type="text/javascript">
var jasmineEnv = jasmine.getEnv();
jasmineEnv.updateInterval = 1000;

var htmlReporter = new jasmine.HtmlReporter();

jasmineEnv.addReporter(htmlReporter);

jasmineEnv.specFilter = function(spec) {
    return htmlReporter.specFilter(spec);
};

var currentWindowOnload = window.onload;

window.onload = function() {
    if (currentWindowOnload) {
        currentWindowOnload();
    }
    jasmineEnv.execute();
};

</script>

{% endblock %}

{% block body %}
<body></body>
{% endblock %}
