# Foundation
#git+git@github.com:pivotal/jasmine-py.git@251bd6b9070a73068c4931ad161f92620d145eb4
django
BeautifulSoup
psycopg2
pylibmc

# Testing
pytest
jasmine

# Third-party
dj-static
dj-database-url
django-extensions
django-debug-toolbar
django-pipeline
django-taggit
django-colorful
django-pylibmc-sasl
factory-boy
gunicorn
icalendar
fabric
pep8
pytz
PyPDF2
pyconstraints
python-dateutil

# RPI-specific
RPICourses
