# Foundation
django
BeautifulSoup
psycopg2
pylibmc

# Testing
pytest
mock
jasmine
selenium # thank's Jasmine

# Third-party
dj-static
dj-database-url
django-extensions
django-debug-toolbar
django-pipeline
django-taggit
django-colorful
django-pylibmc-sasl
factory-boy
gunicorn
icalendar
fabric
pep8
pytz
PyPDF2
pyconstraints
python-dateutil
python-memcached

# RPI-specific
RPICourses
