@import "mixins.scss";

$border-color: #d0d0d0;
$highlight: #940000;
$nav-width: 295px;

/* GENERAL */
html {
	/*background: #8d0000 url('../img/320-bg.png') 0 0 repeat-x; */
	/* @include background-gradient(#af0000, #8d0000); */
	@include background-gradient(#ffffff, #e0e0e0);
	background-attachment: fixed;
}
body {
	padding: 0;
	color: #333;
	width: 90%;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	min-width: 315px;

    /* @include transition(all $transition-fast $transition-type); */
}
.touch body {
	width: 100%;
	font-family: "Helvetica Neue", "Open Sans", Helvetica, Arial, sans-serif;
}

h2 {
	font-size: 115%;
	color: #000;
	padding: 3px 5px;
	margin: 0;
	font-weight: normal;
}
img {
	max-width: 100%;
}

a:link, a:visited {
	color: #000094;
}
a:link:hover, a:visited:hover {
	color: #a42020;
}

p {
	padding: 0 5px;
}
.clear { clear: both; }
.text-center {
	text-align: center;
}
.button {
	color: #eee;
	text-shadow: 1px 1px 0 #111;
	text-decoration: none;
	padding: 5px 10px;
	display: block;
	border: 1px solid #933;

	@include border-radius(5px);
	@include background-gradient(#a42020, #741010);

	&:link, &:visited {
		color: #eee;
		text-decoration: none;
	}

	&:hover, &:visited:hover {
		color: #fff;
		border: 1px solid #c33;
		@include background-gradient(#b42020, #941010);
	}
	&:active {
		border: 1px solid #733;
		@include background-gradient(#941010, #b42020);
	}
}

a.button:hover, a.button:visited:hover {
	color: #eee;
	text-decoration: none;
}
.empty {
	h3 {
		font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
		font-size: 500%;
		margin: -50px 0 0 0;
		padding: 0;
	}
	text-align: center;
}
/* END GENERAL */

/* HEADER */
header {
	h1 {
		padding: 0.5em 0;
		margin: 0;
		text-align: center;
		font-size: 200%;
		color: #333;
		font-family: "Helvetica Neue", "Lato", Helvetica, Arial, sans-serif;
		font-weight: 100;
	}
	.alpha {
		font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
		color: #eee;
		background: $highlight;
		padding: 5px;
		position: absolute;
		top: 22px;
		right: 0;

		@include border-radius(4px 0 0 4px);

		a:link, a:visited, a:hover {
			color: #eee;
		}
		&:hover {
			color: #fff;
			background: $highlight + #111;

			&:after {
				content: ' - Send comments to @jeffhui';
			}
		}
	}
}
.nav {
	height: 3em;
	text-align: center;
	float: right;
	position: relative;
	left: -50%;
	margin-bottom: 10px;

	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		position: relative;
		left: 50%;
	}
	li {
		$border: 1px solid #511;
		$radius: 5px;

		float: left;
		margin: 0;
		padding: 0;
		border: $border;
		border-left: 0;
		border-right: 0;
		text-align: center;

		&:first-child {
			border-left: $border;
			@include border-radius($radius 0 0 $radius);
			a:link {
				@include border-radius($radius - 1px 0 0 $radius - 1px);
			}
		}
		&:last-child {
			border-right: $border;
			@include border-radius(0 $radius $radius 0);
			a:link, a:link:visited {
				@include border-radius(0 $radius - 1px $radius - 1px 0);
				border-right: 0;
			}
		}
	}
	a:link, a:visited {
		float: left;
		display: block;
		padding: 8px;
		color: #fff;
		width: 80px;
		border: 0;
		border-left: 1px solid #943030;
		border-right: 1px solid #560000;

		@include border-radius(0);

		&:hover {
			text-decoration: none;
			border-left: 1px solid #943030;
			border-right: 1px solid #560000;
		}
	}
	a.selected {
		&:link, &:visited {
			border: 0;
			border-left: 1px solid #943030;
			border-right: 1px solid #560000;
			color: #f77;

			@include background-gradient(#741010, #942020);

			&:hover {
				color: #fff;
				@include background-gradient(#741010, #b42020);
			}
		}
	}
}
/* END HEADER */

/* SEARCHBOX */
.searchform {
	width: $nav-width;
	margin: 0 auto 7px auto;
	padding: 0;
	text-align: center;

    #d {
        float: left;
		font-size: 100%;
        display: block;
        width: 65px;
    }
    .searchbox {
		width: $nav-width - 75px;
		padding: 0;
		margin: 0 0 0 10px;
		font-size: 100%;
	}
}
/* END SEARCHBOX */

/* LISTVIEW */
.listview {
	p {
		padding: 5px;
	}
	ul {
		list-style: none;
	}
	li {
		$border: 1px solid $border-color;

		margin: 0;

		a:link, a:visited {
			padding: 3px 5px;
			display: block;
			text-decoration: none;
			color: #222;
			text-shadow: 1px 1px 0 #fff;
			border-top: $border;

            @include transition(all $transition-normal $transition-type);
		}

		&:last-child {
			a:link, a:visited {
				border-bottom: $border;
			}
		}
		a:link:hover, a:visited:hover {
			@include highlight-gradient;
			text-decoration: none;
			color: $highlight;
			text-shadow: 1px 1px 0 #fff;

			.disclosure {
				color: $highlight;
			}
		}
		a:link:active, a:visited:active, a.selected {
			color: #fff;
			text-shadow: 0 0 0 transparent;
			@include background-gradient(#b30505, #960100);

			.disclosure {
				color: #fff;
			}
		}
		.disclosure {
			display: block;
			float: right;
			font-size: 140%;
			color: #999;
			position: relative;
			top: -3px;
		}
	}
}

/* END LISVIEW */

/* TABLEVIEW */

/* END TABLEVIEW */

/* DEPARTMENTS */
#departments {
	margin-top: 1em;

	.deptcode {
		font-size: 110%;
	}
	.deptname {
		display: block;
		font-size: 90%;
		color: #555;
		text-shadow: 1px 1px 0 #fff;
		white-space: nowrap;
		width: 95%;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: noclip;
	}
	a:link:hover, a:visited:hover {
		.deptname {
			color: $highlight;
		}
	}
	a:link:active, a:visited:active {
		.deptname {
			color: #fff;
			text-shadow: 0 0 0 transparent;
		}
	}
}
.touch #departments {
	.deptname {
		color: #111;
	}
	a:link:hover, a:visited:hover {
		.deptname {
			color: #fff;
			text-shadow: 0 0 0 transparent;
		}
	}
}
/* END DEPARTMENTS */

/* SELECTED_COURSES */
#selected_courses {
	label.padded {
		margin-bottom: 0;
	}
	.sections {
		clear: left;
		display: block;
		font-size: 95%;
		margin-top: -5px;
		padding-bottom: 10px;

		td {
			border-bottom: 1px solid #aaa;
		}
		&:last-child td {
			border-bottom: 0;
		}
		ul {
			li {
				border: 0;
				padding: 2px 0;
				clear: both;
			}
		}
		input {
			top: 4px;
		}
		.section {
			padding: 0;
			padding-top: 4px;
		}
		.days {
			font-size: 85%;
			margin: 0;
            padding-left: 13px;
            clear: left;
            li {
                display: inline;
            }
			li.item {
				margin: 0 1px 0 1px;
				padding: 0 0 0 2px;
                line-height: 1.5em;
                text-align: center;
                &.empty {
                    background: transparent;
                    color: #999;
                    display: none;
                }
                &.selected {
                    background: #d0d0d0;

                    @include border-radius(3px);
                }
            }
            span {
                padding: 0;
                margin: 0;
            }

            .short {
                display: inline;
            }
            .long {
                display: none;
            }
            .times {
                display: inline;
                padding: 0 0 0 2px;
                margin: 0;
                background: #e0e0e0;
                font-weight: normal;
                @include border-radius(3px);
            }
		}
		.time {
			margin: 0;
			display: inline;
			li {
				float: right;
				text-align: right;
				border-top: 0;
				margin: 0;
			}
		}
		.instructors {
			float: right;
			font-weight: bold;
			li {
				&:last-child:after {
					content: '';
				}
				&:after {
					content: ', ';
				}
			}
		}
	}
	.crn {
		color: $highlight;
	}
	.section-seats-left {
		font-weight: bold;
	}
}
.total_credits {
	float: left;
	color: #333;
	padding: 5px 10px 5px 0;
}
.touch .total_credits {
	padding-left: 5px;
}
.actions {
	float: right;
	margin-right: -5px;
}
.touch .actions {
	margin-right: 0;
}
/* END SELECTED_COURSES */
/* COURSES */
#courses {
	margin-top: 1em;

    label {
        vertical-align: middle;
    }
    input { /* checkbox */
        position: relative;
        top: 8px;
        float: left;
    }
	li {
		position: relative;
		border-bottom: 1px solid $border-color;

		&:first-child {
			border-top: 1px solid $border-color;
		}
	}
	.padded {
		padding: 4px 8px;
		display: block;
	}
	a:link, a:visited {
		border: 0;
	}
	h2 {
		text-align: center;
		clear: none;
		color: #333;
		font-weight: 200;
		letter-spacing: 1px;
		padding: 0 0 5px 0;
		text-shadow: 1px 1px 0 #fff;
	}
	.name {
		padding-left: 2px;
		width: 90%;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: noclip;
	}
	.disclosure {
		float: none;
		position: absolute;
		right: 0;
		top: -1px;
		/* TODO: add COURSE DETAIL */
		display: none;
	}
	.code {
		font-size: 85%;
		color: $highlight;
	}
	.credits, .seats-left {
		color: #222;
		font-size: 90%;
		padding-left: 3px;
	}
	.credits {
        display: inline;
        padding-right: 3px;
        /*
        background: #e0e0e0;
        */

        @include border-radius(2px);
	}
	.seats-left {
		float: right;
		font-size: 85%;
		position: absolute;
		right: 17px;
		top: 25px;
	}
	.secondary {
		clear: left;
		display: block;
		margin-top: -2px;
		padding-left: 13px;
		text-shadow: 1px 1px 0 #fff;
	}
	/*
	.no-seats {
		$the-color: #555;
		a:link, a:visited, .padded {
			color: $the-color;
			.name {
				color: $the-color;
			}
			.credits {
				color: $the-color;
			}
			.seats-left {
				color: #555;
			}
			.code {
				color: #544;
			}
		}
	}
	*/
	.no-sections {
		$the-color: #555;
		a:link, a:visited, .padded {
			color: $the-color;
			.name {
				color: $the-color;
			}
			.credits {
				color: $the-color;
			}
			.seats-left {
				color: #555;
			}
			.code {
				color: #544;
			}
		}
	}
	a:link:hover, a:visited:hover {
		@include highlight-gradient;
		text-decoration: none;
		color: $highlight;
		text-shadow: #fff 1px 1px 0;

		.name, .code {
			color: $highlight;
		}
		.credits {
			background: transparent;
		}

		.disclosure {
			color: $highlight;
		}
	}
	a:link:active, a:visited:active, a.selected {
		color: #fff;
		text-shadow: transparent 0 0 0;
	}
    .instructors, .kinds {
    	display: none;
    }
    .notes {
    	display: block;
    	clear: left;
    	color: #444;
    	ul {
    		padding: 0 0 0 0;
	    	li {
    			border: 0;
    		}
    	}
    }

	.tinyspinner {
		position: absolute;
		top: 30px;
		left: 0;
	}
}

/* END COURSES */


/* COURSE DETAIL */
#course {
	h1 {
		font-size: 95%;
		font-weight: 200;
		padding: 0;
		margin: 0;
	}
	h2 {
		font-weight: 200;

	}
	.code {
		color: $highlight;
		padding-left: 20px;
	}
}
/* END COURSE DETAIL */

/* SCHEDULES */

#schedules {
	p {
		text-align: center;
	}
	h1 {
		font-size: 130%;
		padding: 20px 0 0 0;
		text-align: center;
		font-weight: 200;
		margin: auto;
		text-shadow: 1px 1px 0 #fff;
		width: $nav-width - 10px;
		$arrow-height: 10px;
		$arrow-width: 20px;

		.view-schedules {
            display: block;
            float: left;
			height: 5px;
			width: 7px;
			border: 10px solid $highlight;
            background: $highlight;

			@include border-radius(4px);

            &:hover {
				background: #b42020;
                border-color: #b42020;
            }
		}

		.prev-schedule, .next-schedule {
			text-decoration: none;
			font-size: 150%;
			margin: 0;
			padding: 2px 0 0 0;
			color: $highlight - #333;
			letter-spacing: -8px;
			border: 10px solid $highlight;

			&:hover {
				color: #b42020;
			}

			&.disabled {
				cursor: default;
				color: $border-color;
			}
		}
		.prev-schedule {
			float: left;
			text-align: left;
			border-color: transparent $highlight transparent transparent;
			border-width: $arrow-height $arrow-width $arrow-height 0;

			&:hover {
				border-color: transparent #b42020 transparent transparent;
			}
			&.disabled {
				border-color: transparent $border-color transparent transparent;
			}
		}
		.next-schedule {
			float: right;
			text-align: right;
			border-color: transparent transparent transparent $highlight;
			border-width: $arrow-height 0 $arrow-height $arrow-width;

			&:hover {
				border-color: transparent transparent transparent #b42020;
			}
			&.disabled {
				border-color: transparent transparent transparent $border-color;
			}
		}
	}
	.share {
		text-align: center;
	}
	.schedule-crns {
		padding: 5px 0 0 0;
		margin: 0;
		text-align: center;
		font-size: 95%;
	}

	.dayview {
		.dow {
			padding: 5px 0;
			margin: -36px 0 3px 0;
			display: block;
			clear: left;
			text-align: center;
			font-size: 130%;
			font-weight: 200;
			border-bottom: 1px solid $border-color;
			text-shadow: 1px 1px 0 #fff;
		}

		&:first-child .dow {
			float: none;
			padding: 0 0 5px 0;
			margin: 0 0 3px 0;
		}
	}
	.row {
		display: block;
		clear: left;
		width: 100%;
		height: 60px;
		border-bottom: 1px solid $border-color;

		&:first-child {
			color: $border-color - #444;
		}
		&:last-child {
			color: $border-color - #444;
		}
	}
	.hour {
		padding: 0 5px 0 0;
		display: block;
		width: 50px;
		text-align: right;
		text-shadow: 1px 1px 0 #fff;
		margin-bottom: -22px;
	}
	.class {
		margin: -1px 5px 0 0;
		clear: left;
		display: block;
		float: right;
		position: relative;
		width: 76.5625%;
		padding: 5px;
		font-size: 90%;

		border: 1px solid transparent;
        overflow: hidden;

		&.color1 {
			background: #d7b8b8;
			border-color: #bc9393;
		}
		&.color2 {
			background: #b8d7b8;
			border-color: #93bc93;
		}
		&.color3 {
			background: #b8b8d7;
			border-color: #9393bc;
		}
		&.color4 {
			background: #d7d6b7;
			border-color: #bcb192;
		}
		&.color5 {
			background: #bccbd7;
			border-color: #97a6bc;
		}
		&.color6 {
			background: #d7c2d5;
			border-color: #bc9db0;
		}
		&.color7 {
			background: #d0d7cd;
			border-color: #b5b2a8;
		}
		&.color8 {
			background: #a7d7cb;
			border-color: #8cb2a6;
		}
		&.color9 {
			background: #ffc37d;
			border-color: #e49e58;
		}

		@include border-radius(3px);
        @include transition(width $transition-fast $transition-type);

		.time {
			position: absolute;
			top: 5px;
			right: 0;
			display: block;
			font-size: 90%;
			.sep {
				margin: 0 -2px 0 -2px;
				padding: 0;
			}
		}
		.code {
			display: block;
			font-size: 90%;
		}
		.name {
			padding: 0;
			font-size: 110%;
			display: block;
		}
		.crn {
			font-weight: bold;
		}
		.location, .instructor, .kind {
			display: block;
			float: left;
			padding-top: 1em;
			padding-right: 5px;
		}
        .kind {
        	color: #444;
        }
		.location {
			float: right;
			padding-right: 0;
		}

		&.medium { /* approximately 1.5 hour time slot */
			.location, .instructor, .kind {
				padding-top: 0.5em;
			}
			&.small { /* approximately 1 hour time slot */
				.name { display: none; }
				.location, .instructor, .kind {
					padding-top: 0;
				}

				&.very { /* approximately 30 min time slot */
					padding: 6px 5px 5px 5px;
					.time, .kind, .location { display: none; }
					.code { float: left; }
					.code { padding-right: 0.3em; }
					.instructor {
						float: right;
					}
					.location { display: none }
				}
			}
		}
	}
}
#thumbnails {
	h1 {
		text-align: center;
		font-size: 130%;
	}
	.thumbnail {
		height: 140px;
		width: 110px;
		float: left;
        &.selected {
            .day {
                background: #e0e0e0;
            }
        }
		&:hover {
			cursor: pointer;
			.day {
				background: #822;
			}
			.row {
				border-bottom: 1px solid #b55;
				&:first-child {
					border-top: 1px solid #b55;
				}
				/*
				&.noon {
					background: #a44;
				}
				*/
			}
			.class {
				$adjust: #000;

				&.color1 {
					background: #d7b8b8 - $adjust;
					border-color: #bc9393 - $adjust;
				}
				&.color2 {
					background: #b8d7b8 - $adjust;
					border-color: #93bc93 - $adjust;
				}
				&.color3 {
					background: #b8b8d7 - $adjust;
					border-color: #9393bc - $adjust;
				}
				&.color4 {
					background: #d7d6b7 - $adjust;
					border-color: #bcb192 - $adjust;
				}
				&.color5 {
					background: #bccbd7 - $adjust;
					border-color: #97a6bc - $adjust;
				}
				&.color6 {
					background: #d7c2d5 - $adjust;
					border-color: #bc9db0 - $adjust;
				}
				&.color7 {
					background: #d0d7cd - $adjust;
					border-color: #b5b2a8 - $adjust;
				}
				&.color8 {
					background: #a7d7cb - $adjust;
					border-color: #8cb2a6 - $adjust;
				}
				&.color9 {
					background: #ffc37d - $adjust;
					border-color: #e49e58 - $adjust;
				}
			}
		}
	}
	.day {
		float: left;
		width: 20px;
		padding: 1px;
	}
	.row {
        $bcolor: $border-color - #222;

		height: 8px;
		border-bottom: 1px solid $bcolor;
		&:first-child {
			border-top: 1px solid $bcolor;
			border-bottom: 1px solid $bcolor;
			height: 9px;
		}
		&:last-child {
			border-bottom: 1px solid $bcolor;
		}
		/*
		&.noon {
			background: #d0d0d0;
		}
		*/

	}
	.class {
		display: block;
		position: relative;
		z-index: 1000;

		@include border-radius(2px);
		$darken: #222;

		&.color1 {
			background: #d7b8b8 - $darken;
			border-color: #bc9393 - $darken;
		}
		&.color2 {
			background: #b8d7b8 - $darken;
			border-color: #93bc93 - $darken;
		}
		&.color3 {
			background: #b8b8d7 - $darken;
			border-color: #9393bc - $darken;
		}
		&.color4 {
			background: #d7d6b7 - $darken;
			border-color: #bcb192 - $darken;
		}
		&.color5 {
			background: #bccbd7 - $darken;
			border-color: #97a6bc - $darken;
		}
		&.color6 {
			background: #d7c2d5 - $darken;
			border-color: #bc9db0 - $darken;
		}
		&.color7 {
			background: #d0d7cd - $darken;
			border-color: #b5b2a8 - $darken;
		}
		&.color8 {
			background: #a7d7cb - $darken;
			border-color: #8cb2a6 - $darken;
		}
		&.color9 {
			background: #ffc37d - $darken;
			border-color: #e49e58 - $darken;
		}
	}
}
/* END SCHEDULES */

/* FOOTER */

footer {
	font-size: 80%;
	text-align: center;
	color: #555;
	margin-top: 1em;
	text-shadow: 1px 1px 0 #fff;
	padding-bottom: 2px;
}

/* END FOOTER */

/* TOUCH */
.touch {
	.nav {
		a:link, a:visited{
			-webkit-tap-highlight-color: #999;
		}
	}
	.listview li {
		a:link, a:visited {
			color: #000;
			-webkit-tap-highlight-color: #b30505;
		}
		a:link:hover, a:visited:hover, a:link:active, a:visited:active, a.selected {
			color: #000;
			text-shadow: 0 0 0 transparent;
			/*@include background-gradient(#b30505, #960100);*/
			/* -webkit-tap-highlight-color: -webkit-linear-gradient(top, #b30505 0%, #960100 100%); */
			@include background-gradient(transparent, transparent);

			.disclosure {
				color: #999;
			}
		}
	}
	.searchbox {
		height: 2em;
	}
	#departments {
		.deptname {
			color: #000;
		}
		a:link:hover, a:visited:hover {
			.deptname {
				color: #000;
			}
		}
		a:link:active, a:visited:active {
			.deptname {
				color: #000;
			}
		}
	}
}
/* END TOUCH */
