@import "mixins.scss";

$border-color: #d0d0d0;

/* GENERAL */
html {
	/*background: #8d0000 url('../img/320-bg.png') 0 0 repeat-x; */
	/* @include background-gradient(#af0000, #8d0000); */
	@include background-gradient(#fff, #e0e0e0);
	background-attachment: fixed;
}
body {
	padding: 0;
	color: #333;
	width: 85%;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	min-width: 320px;
}
.touch body {
	width: 100%;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h2 {
	font-size: 115%;
	color: #000;
	padding: 3px 5px;
	margin: 0;
	font-weight: normal;
}

a:link, a:visited {
	color: #000094;
}
a:link:hover, a:visited:hover {
	color: #a42020;
}

p {
	padding: 0 5px;
}
.button {
	color: #eee;
	text-shadow: 1px 1px 0 #111;
	text-decoration: none;
	padding: 5px 10px;
	display: block;
	border: 1px solid #933;
	@include border-radius(5px);
	@include background-gradient(#a42020, #741010);

	&:link, &:visited {
		color: #eee;
		text-decoration: none;
	}

	&:hover, &:visited:hover {
		color: #fff;
		border: 1px solid #c33;
		@include background-gradient(#b42020, #941010);
	}
	&:active {
		border: 1px solid #733;
		@include background-gradient(#941010, #b42020);
	}
}

a.button:hover, a.button:visited:hover {
	color: #eee;
	text-decoration: none;
}
/* END GENERAL */

/* HEADER */
header {
	h1 {
		padding: 0.5em 0;
		margin: 0;
		text-align: center;
		font-size: 200%;
		color: #333;
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
		font-weight: 100;
	}
}
.nav {
	height: 3em;
	text-align: center;
	float: right;
	position: relative;
	left: -50%;

	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		position: relative;
		left: 50%;
	}
	li {
		$border: 1px solid #511;
		$radius: 5px;

		float: left;
		margin: 0;
		padding: 0;
		border: $border;
		border-left: 0;
		border-right: 0;
		text-align: center;

		&:first-child {
			border-left: $border;
			@include border-radius($radius 0 0 $radius);
			a:link {
				@include border-radius($radius - 1px 0 0 $radius - 1px);
			}
		}
		&:last-child {
			border-right: $border;
			@include border-radius(0 $radius $radius 0);
			a:link, a:link:visited {
				@include border-radius(0 $radius - 1px $radius - 1px 0);
				border-right: 0;
			}
		}
	}
	a:link, a:visited {
		float: left;
		display: block;
		padding: 8px;
		color: #fff;
		width: 80px;
		border: 0;
		border-left: 1px solid #943030;
		border-right: 1px solid #560000;
		@include border-radius(0);
	}
	a:link:hover, a:visited:hover {
		text-decoration: none;
	}
	a.selected:link, a.selected:link:visited {
		cursor: default;
		border: 0;
		border-left: 1px solid #943030;
		border-right: 1px solid #560000;
		@include background-gradient(#741010, #942020);
	}
}
/* END HEADER */

/* SEARCHBOX */
.searchform {
	width: 288px;
	margin: 7px auto;
	padding: 0;
	text-align: center;

	#d {
		display: none;
	}
	.searchbox {
		width: 100%;
		padding: 0;
		margin: 0;
		font-size: 120%;
	}
}
/* END SEARCHBOX */

/* LISTVIEW */
.listview {
	ul {
		list-style: none;
	}
	li {
		$border: 1px solid $border-color;

		margin: 0;

		a:link, a:visited {
			padding: 3px 5px;
			display: block;
			text-decoration: none;
			color: #222;
			text-shadow: 1px 1px 0 #fff;
			border-top: $border;
		}

		&:last-child {
			a:link, a:visited {
				border-bottom: $border;
			}
		}
		a:link:hover, a:visited:hover {
			@include highlight-gradient;
			text-decoration: none;
			color: #940000;
			text-shadow: 1px 1px 0 #fff;

			.disclosure {
				color: #942222;/*#940000;*/
			}
		}
		a:link:active, a:visited:active {
			color: #fff;
			text-shadow: 0 0 0 transparent;
			@include background-gradient(#b30505, #960100);

			.disclosure {
				color: #fff;
			}
		}
		.disclosure {
			display: block;
			float: right;
			font-size: 140%;
			color: #999;
			position: relative;
			top: -3px;
		}
	}
}
.touch .listview li {
	a:link, a:visited {
		color: #000;
	}
	a:link:hover, a:visited:hover {
		color: #fff;
		text-shadow: 0 0 0 transparent;
		@include background-gradient(#b30505, #960100);

		.disclosure {
			color: #fff;
		}
	}
}

/* END LISVIEW */

/* TABLEVIEW */

/* END TABLEVIEW */

/* DEPARTMENTS */
#departments {
	margin-top: 1em;

	.deptcode {
		font-size: 110%;
	}
	.deptname {
		display: block;
		font-size: 90%;
		color: #555;
		text-shadow: 1px 1px 0 #fff;
		white-space: nowrap;
		width: 95%;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	a:link:hover, a:visited:hover {
		.deptname {
			color: #692222;
		}
	}
	a:link:active, a:visited:active {
		.deptname {
			color: #fff;
			text-shadow: 0 0 0 transparent;
		}
	}
}
.touch #departments {
	.deptname {
		color: #111;
	}
	a:link:hover, a:visited:hover {
		.deptname {
			color: #fff;
			text-shadow: 0 0 0 transparent;
		}
	}
}
/* END DEPARTMENTS */

/* SELECTED_COURSES */
#selected {
	$highlight: #940000;
	color: #111;

	h2 {
		color: #333;
		font-weight: 200;
		letter-spacing: 1px;
		padding: 0;
		text-shadow: 1px 1px 0 #fff;
	}
	.course td {
		border-bottom: 0;
	}
	.sections {
		display: block;
		font-size: 95%;
		padding-left: 22px;
		margin-top: 5px;

		td {
			border-bottom: 1px solid #aaa;
		}
		&:last-child td {
			border-bottom: 0;
		}
	}
	.checkbox {
		padding: 0 0 0 3px;
	}
	.code {
		display: block;
		padding-left: 20px;
		margin-top: -3px;
		color: $highlight;
		font-size: 95%;
	}
	.department {
		padding: 0 0 0 2px;
	}
	.course_number {
		padding: 0;
	}
	.name {
		padding-left: 2px;
		font-size: 110%;
		text-transform: lowercase;
	}
	.credits {
		display: none;
	}
	.seats-left {
		display: none;
	}
	ul {
		list-style: none;
		padding: 0;
		margin: 0;

		li {
			padding: 5px 0;
			border-top: 1px solid $border-color;

			&:first-child {
				padding: 0 0 5px 0;
				border-top: 0;
			}
		}
	}
	.crn {
		color: $highlight;
	}
	.section-seats-left {
		font-weight: bold;
	}
}
.total_credits {
	float: left;
	color: #333;
	padding: 5px 10px 5px 0;
}
.touch .total_credits {
	padding-left: 5px;
}
.actions {
	float: right;
	margin-right: -5px;
}
.touch .actions {
	margin-right: 0;
}
/* END SELETED_COURSES */

/* FOOTER */

footer {
	font-size: 80%;
	text-align: center;
	color: #555;
	margin-top: 1em;
	text-shadow: 1px 1px 0 #fff;
	padding-bottom: 2px;
}

/* END FOOTER */