@import "mixins.scss";

body {
    min-width: 480px;

    @include transition(min-width $transition-fast $transition-type);
}

.listview {
    li {
        a:link, a:visited {
            padding: 3px 7px;

            @include transition(padding $transition-normal $transition-type);
        }
    }
}

.searchform {
    width: 300px;
    margin: 7px auto;
    padding: 0;
    text-align: center;

    #d {
        display: block;
        float: left;
        width: 75px;
        /* UI behavior is weird in FF, cut.
        @include transition(all $transition-normal $transition-type);
        */
    }
    .searchbox {
        width: 210px;
        margin-left: 10px;

        @include transition(none $transition-fast $transition-type);
    }
}

#selected {
    padding: 0 10px;
}

.schedules {
    .class {
        width: 83.3333333%;
    }
}
