@import "mixins.scss";

body {
    min-width: 470px;

    /* @include transition(all $transition-fast $transition-type); */
}

.listview {
    li {
        a:link, a:visited {
            padding: 3px 7px;

            @include transition(padding $transition-normal $transition-type);
        }
    }
}

.searchform {
    width: 295px;
    text-align: center;

    #d {
        display: block;
        width: 65px;
        /* UI behavior is weird in FF, cut.
        @include transition(all $transition-normal $transition-type);
        */
    }
    .searchbox {
        width: 220px;
        margin-left: 10px;

        @include transition(none $transition-fast $transition-type);
    }
}

#courses {
    .seats-left {
        top: 30px;
    }
    .instructors {
        display: block;
        font-size: 85%;

        ul {
            display: inline;
            padding: 0;
            /*
            width: 300px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            */
        }
        li {
            margin: 0;
            border: 0;
            display: inline;
            padding: 0 2px;

            background: $inline-list-bg;
            color: #333;
            text-shadow: transparent 0 0 0;

            @include border-radius(2px);
        }
    }
    .kinds {
        display: inline;

        ul {
            display: inline;
            padding: 0;
            position: absolute;
            top: 5px;
            right: 10px;
        }
        li {
            border: 0;
            float: right;
            margin: 0 3px 0 0;
            padding: 0 4px;
            color: #333;
            text-shadow: transparent 0 0 0;

            @include border-radius(0 0 2px 2px);
        }
    }
    .no-seats {
        .instructors, .kinds {
            li {
                color: #777;
            }
        }
    }
    .notes {
        ul {
            padding: 0 0 0 15px;
        }
    }
}

#schedules {
    .class {
        width: 83.3333333%;

        @include transition(width $transition-fast $transition-type);

        &.small { /* approximately 1 hour time slot */
            .name {
                display: block;
                float: left;
                padding-right: 0.3em;
                font-size: 100%;
            }
        }
    }
}
