@import "mixins.scss";

body {
    min-width: 768px;
    max-width: 992px; /* TODO: remove me after 992 is implemented */
    @include transition(all $transition-fast $transition-type);
}

#departments {
    li {
        a:link, a:visited {
            font-size: 120%;
            height: 1.5em;
        }
    }
    .disclosure {
        font-size: 110%;
    }
    .deptcode {
        display: block;
        width: 75px;
        float: left;
    }
    .deptname {
        position: relative;
        top: 2px;
        display: inline;
        overflow: visible;
        text-overflow: clip;
    }
}

#courses {
    input { /* checkbox */
        top: 7px;
    }
    li {
        position: relative;
    }
    .name {
        font-size: 120%;
    }
    .code {
        font-size: 100%;
        float: left;
        padding-right: 5px;
    }
    .seats-left {
        font-size: 100%;
        top: 30px;
    }
    .credits {
        font-size: 100%;
        color: #555;
        display: block;
        float: left;
    }
    .instructors {
        font-size: 95%;
        padding-top: 2px;
        clear: none;

        li {
            padding: 0 4px;
        }
    }
}

.schedules {
    float: right;
    position: relative;
    left: -50%;

    h1, .schedule, .share {
        position: relative;
        left: 50%;
    }

    h1 {
        clear: both;
    }
    .schedule {
        padding-top: 1em;
        /*
        margin-right: 65px;
        */
    }
    .dayview {
        width: 135px;
        margin: 0 3px;
        float: left;

        @include transition(all $transition-fast $transition-type);

        .hour {
            display: none;
            width: 48px;
        }
        .dow {
            float: none;
            padding: 0 0 5px 0;
            margin: 0 0 3px 0;
        }
        &:first-child .dow {
            padding-left: 25%;
        }
        .class {
            width: 115px;
            margin: -1px 3px 0 0;

            .time { display: none }

            .crn {
                display: block;
            }
            .kind {
                position: absolute;
                display: block;
                top: 0;
                right: 0;
                font-size: 90%;
                padding: 5px 5px 0 0;
                margin: 0;
            }

            &.small {
                font-size: 80%;
                overflow: hidden;

                @include transition(all $transition-fast $transition-type);

                .kind {
                    position: absolute;
                    top: 5px;
                    right: 0;
                    font-size: 100%;
                }

                .name, .location, .instructor {
                    /*display: none;*/
                    @include opacity(0.0);
                    @include transition(all $transition-normal $transition-type);
                }
                .name {
                    display: none;
                }
                .instructor {
                    @include opacity(0.6);
                }

                &:hover, .selected {
                    min-height: 70px;
                    box-shadow: 0 2px 10px #666;

                    .location, .instructor, .name {
                        /*display: inline;*/
                        @include opacity(1.0);
                        @include transition(all $transition-normal $transition-type);
                    }
                }
                &.very {
                    .kind {
                        display: block;
                    }
                    .location, .instructor, .crn {
                        float: none;
                        display: inline;
                        @include opacity(0.0);
                        @include transition(all $transition-normal $transition-type);
                    }
                    .instructor {
                        display: block;
                        @include opacity(0.6);
                    }
                    .crn {
                        font-weight: bold;
                        @include opacity(0.4);
                    }
                    &:hover, .selected {
                        .location, .crn, .instructor {
                            @include opacity(1.0);
                            @include transition(all $transition-normal $transition-type);
                        }
                    }
                }
            }
        }

        &:first-child {
            width: 185px;
            .hour {
                display: block;
            }
            .class {
                margin: -1px 3px 0 0;
            }
        }
        .name {
            display: none;
        }
        .location {
            float: none;
            clear: both;
            padding: 0;
        }
        .instructor {
            padding-top: 0.5em;
        }
    }
}
