{% extends 'site_base.html' %}

{% load scheduler %}

{% block body-id %}schedules-page{% endblock %}

{% block header %}
{{ block.super }}
{% include '_nav.html' with selected='schedules' %}
{% endblock header %}

{% block content %}
<div id="schedules" data-source="{{ ajax_url }}">
</div>

<!-- functions: humanize_time, period_height, get_crns -->
<!-- defined: schedule, time_range, courses, sections, color_map, sid -->
<script type="text/template" id="schedule-template" data-period-height="50">
<% var first=(sid===1), last=(sid===schedules.length), secmap = section_mapping[sid]; %>
<div id="schedule<%- sid %>" class="schedule_wrapper">
    <h1>
        <a href="#schedule<%- first ? '' : sid - 1 %>" class="prev-schedule<%= (first ? ' disabled' : '') %>"></a>
        <a name="schedule<%- sid %>">Schedule <%- sid %> / <%- schedules.length %></a>
        <a href="#schedule<%- last ? '' : sid + 1 %>" class="next-schedule<%= (last ? ' disabled' : '') %>"></a>
    </h1>
    <p class="schedule-crns">
        <%- get_crns(schedule).join(', ') %>
    </p>
    <p class="share" style="display: none;">
        <a href="#facebook">Facebook</a>
        <a href="#link">Permalink</a>
        <a href="#ics">iCal</a>
    </p>
    <div class="schedule">
        <% for(var j=0, l2=dows.length; j<l2; ++j){ var dow = dows[j]; var secsforday = secmap[dow]; %>
        <div class="dayview">
            <h2 class="dow"><%- dow %></h2>
            <div class="hourview">
                <% for(var k=0, l3=time_range.length; k<l3; ++k) { var hour = time_range[k]; var entry = secsforday && secsforday[hour]; %>
                    <div class="row">
                        <span class="hour"><%- hour %></span>
                        <% if(entry) { %>
                            <% var course = courses[entry.cid], section = sections[entry.crn], period = section.periods[entry.pindex], height = get_period_height(period); %>
                            <span style="height: <%- height %>px" class="class
                            color<%- color_map[course.id] %>
                            <% if (height <= 35){ %>very<% } %>
                            <% if (height <= 60) { %>small<% } %>
                            <% if (height <= 80) { %>medium<% } %>">
                                <span class="time">
                                    <span class="start"><%- humanize_time(period.start_time) %></span>
                                    <span class="sep">-</span>
                                    <span class="end"><%- humanize_time(period.end_time) %></span>
                                </span>
                                <span class="code">
                                    <%- course.department.code %>
                                    <%- course.number %>-<%- section.number %>
                                    <span class="crn">#<%- section.crn %></span>
                                </span>
                                <span class="name">
                                    <%- course.name %>
                                </span>
                                <span class="kind">
                                    <%- period.kind %>
                                </span>
                                <span class="instructor">
                                    <%- period.instructor %>
                                </span>
                                <span class="location">
                                    <%- period.location %>
                                </span>
                            </span>
                        <% } %>
                    </div>

                <% } %>
            </div>
        </div>
        <% } %>
    </div>
</div>
</script>

<script type="text/template" id="no-schedules-template">
<p class="text-center">No possible schedules :(<br />Don't make the kitty mad...</p>
<p class="text-center">
    <img src="{{ STATIC_URL }}img/no-schedules.jpg" alt="No Schedules" />
</p>
<p class="text-center">Photo by <a href="http://www.flickr.com/photos/poenaru/1304953088/">Hannibal Poenaru</a></p>
</script>
{% endblock content %}

{% block sidebar %}
{#% include 'courses/_selected_courses.html' %#}
{% endblock sidebar %}
