{% extends 'site_base.html' %}

{% load scheduler %}

{% block head %}
<meta name="robots" content="NOINDEX, FOLLOW">
{{ block.super }}
{% endblock %}

{% block body-id %}schedules-page{% endblock %}

{% block header %}
{{ block.super }}
{% include '_nav.html' with selected='schedules' %}
{% endblock header %}

{% block content %}
{% if schedules %}
<div id="schedules">
{% for i, schedule in schedules|enumerate %}
	<div id="schedule{{ i }}" class="schedule_wrapper">
		<h1>
			<a href="#schedule{% if not forloop.first %}{{ i|add:'-1' }}{% else %}{{ i }}{% endif %}" class="prev-schedule{% if forloop.first %} disabled{% endif %}"></a>
			<a name="schedule{{ i }}">Schedule {{ i }} / {{ schedules|length }}</a>
			<a href="#schedule{% if not forloop.last %}{{ i|add:'1' }}{% else %}{{ i }}{% endif %}" class="next-schedule{% if forloop.last %} disabled{% endif %}"></a>
		</h1>
		<p class="schedule-crns">
			{% for section in schedule.values %}
				{{ section.crn }}{% if not forloop.last %}, {% endif %}
			{% endfor %}
		</p>
		<p class="share" style="display: none;">
			<a href="#facebook">Facebook</a>
			<a href="#link">Permalink</a>
			<a href="#ics">iCal</a>
		</p>
		<div class="schedule">
			{# monday - friday #}
			{% for dow in dows %}
			<div class="dayview">
				<h2 class="dow">{{ dow }}</h2>
				<div class="hourview">

					{% for hour in time_range %}
						<div class="row">
							<span class="hour">{{ hour|humanize_hour }}</span>
							{% with section_period=sections|get:i|get:dow|get:hour %}
								{% if section_period %}
									{% with period=section_period.period height=section_period.period|period_height:50 section=section_period.section course=section_period.section.course %}
									<span style="height: {{ height }}px" class="class
									color{{ color_mapping|get:course }}
									{% if 35 >= height %} very{% endif %}
									{% if 60 >= height %} small{% endif %}
									{% if 80 >= height %} medium{% endif %}">
										<span class="time">
											<span class="start">{{ period.start|normal_time }}</span>
											<span class="sep">-</span>
											<span class="end">{{ period.end|normal_time }}</span>
										</span>
										<span class="code">
											{{ course.code }}-{{ section.number }}
											<span class="crn">#{{ section.crn }}</span>
										</span>
										<span class="name">
											{{ course.name }}
										</span>
										<span class="kind">
											{{ section_period.kind }}
										</span>
										<span class="instructor">
											{{ section_period.instructor }}
										</span>
										<span class="location">
											{{ section_period.location }}
										</span>
									</span>
									{% endwith %}
								{% endif %}
							{% endwith %}
						</div>

					{% endfor %}
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
{% endfor %}
</div>
{% else %}
<p class="text-center">No possible schedules :(<br />Don't make the kitty mad...</p>
<p class="text-center">
	<img src="{{ STATIC_URL }}img/no-schedules.jpg" alt="No Schedules" />
</p>
<p class="text-center">Photo by <a href="http://www.flickr.com/photos/poenaru/1304953088/">Hannibal Poenaru</a></p>
{% endif %}

{% comment %}
{% for s in schedules %}
<p>{{ s.id }}</p>
<h3>Sections</h3>
	{% for sec in s.all_sections %}
		<p>{{ sec }}</p>
		<h3>Periods</h3>
		{% for p in sec.all_periods %}
			<p>{{ p }}</p>
		{% endfor %}
	{% endfor %}
{% endfor %}
{% endcomment %}

{% endblock content %}

{% block sidebar %}
{#% include 'courses/_selected_courses.html' %#}
{% endblock sidebar %}
