{% extends 'site_base.html' %}

{% load scheduler %}

{% block body-id %}schedules-page{% endblock %}

{% block header %}
{{ block.super }}
{% include '_nav.html' with selected='schedules' %}
{% endblock header %}

{% block content %}
<div id="schedules">
{% for i, schedule in schedules|enumerate %}
	<h1>
		<a href="#schedule{% if not forloop.first %}{{ i|add:'-1' }}{% else %}{{ i }}{% endif %}" class="prev-schedule{% if forloop.first %} disabled{% endif %}"></a>
		<a name="schedule{{ i }}">Schedule {{ i }}</a>
		<a href="#schedule{% if not forloop.last %}{{ i|add:'1' }}{% else %}{{ i }}{% endif %}" class="next-schedule{% if forloop.last %} disabled{% endif %}"></a>
	</h1>
	<p class="share">
	<a href="#facebook">Facebook</a>
	<a href="#link">Permalink</a>
	<a href="#ics">iCal</a>
	</p>
	<div class="schedule">
		{# monday - friday #}
		{% for dow in dows %}
		<div class="dayview">
			<h2 class="dow">{{ dow }}</h2>
			{% if forloop.first %}
				<p class="schedule-crns">
					{% for section in schedule.values %}
						{{ section.crn }}{% if forloop.revcounter0 > 1 %}, {% endif %}
						{% if forloop.revcounter0 == 1 %}
						&amp;
						{% endif %}
					{% endfor %}
				</p>
			{% endif %}

			<div class="hourview">
				{% for hour in time_range %}
					<div class="row">
						<span class="hour">{{ hour|humanize_hour }}</span>
						{% for course, section in schedule.items %}
							{% with section|for_dayofweek:dow|for_hour:hour as section_period %}
								{% if section_period %}
									{% with section_period.period as period %}
									<span class="class{% if 35 >= period|period_height:50 %} very{% endif %}{% if 60 >= period|period_height:50 %} small{% endif %}" style="height: {{ period|period_height:50 }}px">
										<span class="time">
											<span class="start">{{ period.start|normal_time }}</span>
											<span class="sep">-</span>
											<span class="end">{{ period.end|normal_time }}</span>
										</span>
										<span class="code">
											{{ course.code }}-{{ section.number }}
											<span class="crn">#{{ section.crn }}</span>
										</span>
										<span class="name">
											{{ course.name }}
										</span>
										<span class="kind">
											{{ section_period.kind }}
										</span>
										<span class="instructor">
											{{ section_period.instructor }}
										</span>
										<span class="location">
											{{ section_period.location }}
										</span>
									</span>
									{% endwith %}
								{% endif %}
							{% endwith %}
						{% endfor %}
					</div>

				{% endfor %}
			</div>
		</div>
		{% endfor %}
	</div>
{% endfor %}
</div>

{% comment %}
{% for s in schedules %}
<p>{{ s.id }}</p>
<h3>Sections</h3>
	{% for sec in s.all_sections %}
		<p>{{ sec }}</p>
		<h3>Periods</h3>
		{% for p in sec.all_periods %}
			<p>{{ p }}</p>
		{% endfor %}
	{% endfor %}
{% endfor %}
{% endcomment %}

{% endblock content %}
