{% extends 'site_base.html' %}


{% block header %}
{{ block.super }}
<div class="nav">
	<ul>
		<li><a href="{% url departments sem_year,sem_month %}" class="button selected">Catalog</a></li>
		<li><a href="#selected" class="button">Selected</a></li>
		<li><a href="{% url schedules sem_year,sem_month %}" class="button">Schedules</a></li>
	</ul>
</div>
{% endblock header %}

{% block content %}
<h2>Schedules</h2>

{% for schedule in schedules %}
<ul>
{% for course, section in schedule.items %}
<li>{{ course }} -- {{ section }}</li>
{% endfor %}
</ul>
<hr />
{% endfor %}

{% comment %}
{% for s in schedules %}
<p>{{ s.id }}</p>
<h3>Sections</h3>
	{% for sec in s.all_sections %}
		<p>{{ sec }}</p>
		<h3>Periods</h3>
		{% for p in sec.all_periods %}
			<p>{{ p }}</p>
		{% endfor %}
	{% endfor %}
{% endfor %}
{% endcomment %}

{% endblock content %}