/* Shortcut for CSS3 Transitions for browsers */
body {
  min-width: 480px;
  -webkit-transition: min-width 0.2s ease-out;
  -moz-transition: min-width 0.2s ease-out;
  -o-transition: min-width 0.2s ease-out;
  -ms-transition: min-width 0.2s ease-out;
  transition: min-width 0.2s ease-out; }

.listview li a:link, .listview li a:visited {
  padding: 3px 7px;
  -webkit-transition: padding 0.3s ease-out;
  -moz-transition: padding 0.3s ease-out;
  -o-transition: padding 0.3s ease-out;
  -ms-transition: padding 0.3s ease-out;
  transition: padding 0.3s ease-out; }

.searchform {
  width: 300px;
  margin: 7px auto;
  padding: 0;
  text-align: center; }
  .searchform #d {
    display: block;
    float: left;
    width: 75px;
    /* UI behavior is weird in FF, cut.
    @include transition(all $transition-normal $transition-type);
    */ }
  .searchform .searchbox {
    width: 210px;
    margin-left: 10px;
    -webkit-transition: none 0.2s ease-out;
    -moz-transition: none 0.2s ease-out;
    -o-transition: none 0.2s ease-out;
    -ms-transition: none 0.2s ease-out;
    transition: none 0.2s ease-out; }

#selected {
  padding: 0 10px; }

.schedules .class {
  width: 83.3333333%; }
