body {
  min-width: 470px;
  /* @include transition(all $transition-fast $transition-type); */ }

.listview li a:link, .listview li a:visited {
  padding: 3px 7px;
  -webkit-transition: padding 0.3s ease-in-out;
  -moz-transition: padding 0.3s ease-in-out;
  -o-transition: padding 0.3s ease-in-out;
  -ms-transition: padding 0.3s ease-in-out;
  transition: padding 0.3s ease-in-out; }

.searchform {
  width: 295px;
  text-align: center; }
  .searchform #d {
    display: block;
    width: 65px;
    /* UI behavior is weird in FF, cut.
    @include transition(all $transition-normal $transition-type);
    */ }
  .searchform .searchbox {
    width: 220px;
    margin-left: 10px;
    -webkit-transition: none 0.2s ease-in-out;
    -moz-transition: none 0.2s ease-in-out;
    -o-transition: none 0.2s ease-in-out;
    -ms-transition: none 0.2s ease-in-out;
    transition: none 0.2s ease-in-out; }

#selected {
  padding: 0 10px; }

#courses .seats-left {
  top: 30px; }
#courses .instructors {
  display: block;
  font-size: 85%; }
  #courses .instructors ul {
    display: inline;
    padding: 0;
    /*
    width: 300px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    */ }
  #courses .instructors li {
    margin: 0;
    border: 0;
    display: inline;
    padding: 0 2px;
    background: transparent;
    color: #333;
    text-shadow: transparent 0 0 0;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px; }
#courses .kinds {
  display: inline; }
  #courses .kinds ul {
    display: inline;
    padding: 0;
    position: absolute;
    top: 5px;
    right: 10px; }
  #courses .kinds li {
    border: 0;
    float: right;
    margin: 0 3px 0 0;
    padding: 0 4px;
    color: #333;
    text-shadow: transparent 0 0 0;
    border-radius: 0 0 2px 2px;
    -moz-border-radius: 0 0 2px 2px;
    -webkit-border-radius: 0 0 2px 2px; }
#courses .no-seats .instructors li, #courses .no-seats .kinds li {
  color: #777; }

#schedules .class {
  width: 83.3333333%;
  -webkit-transition: width 0.2s ease-in-out;
  -moz-transition: width 0.2s ease-in-out;
  -o-transition: width 0.2s ease-in-out;
  -ms-transition: width 0.2s ease-in-out;
  transition: width 0.2s ease-in-out; }
  #schedules .class.small {
    /* approximately 1 hour time slot */ }
    #schedules .class.small .name {
      display: block;
      float: left;
      padding-right: 0.3em;
      font-size: 100%; }
