@import "mixins";

$border-color: #d0d0d0;

* {
    text-shadow : none !important;
    filter : none !important;
    -ms-filter : none !important;
}

a:link, a:visited {
    color : #444 !important;
    text-decoration : underline;
}

a[href]:after {
    content : " (" attr(href) ")";
}

abbr[title]:after {
    content : " (" attr(title) ")";
}

a[href^="javascript:"]:after,
a[href^="#"]:after {
    content : "";
}

pre, blockquote {
    border : 1px solid #999;
    page-break-inside : avoid;
}

thead {
    display : table-header-group;
}

tr, img {
    page-break-inside : avoid;
}

@page {
    margin : .5cm;
}

p, h2, h3 {
    orphans : 3;
    widows : 3;
}

h2, h3 {
    page-break-after : avoid;
}

/* CUSTOM */
h1, h2 {
    text-align: center;
}

#header {
    * {
        background : transparent !important;
        color : black !important;
    }
}

body {
    font-size: 16px;
}

.nav, .alpha, .listview .disclosure, .searchform, .view-schedules {
    display: none;
}

#departments {
    a:link {
        text-decoration: none;
    }
    a[href]:after {
        content: '';
    }
}

#selected_courses {
    list-style: none;
    padding-left: 0;
    margin-left: 0;
}

#courses {
    .code, .credits {
        float: none;
    }
    .code {
        margin-right: 5px;
    }
    ul {
        list-style: none;
        padding-left: 0;
        margin-left: 0;
    }
    li {
        position: relative;
        border-bottom: 1px solid #ccc;
        margin-bottom: 5px;
        padding-bottom: 5px;
    }
    .code {
        background: #ddd;
        padding: 5px;

        @include border-radius(3px);
    }
    .credits, .seats-left {
        display: inline;
    }
}

footer {
    display: none;
}

header {
    display: none;
}

.schedule_number {
    display: none;
}

.ical_link {
    display: none;
}

#schedules {
    .schedule-crns {
        text-align: center;
        padding-bottom: 5px;
    }
    .row {
        display: block;
        clear: left;
        width: 130px;
        height: 60px;
        border-bottom: 1px solid $border-color;

        &:first-child, &:last-child { display: none }
    }
    .dayview {
        float: left;
        .dow {
            padding: 5px 0;
            margin: -25px 3px 3px 0;
            width: 130px;
            height: 37px;
            display: block;
            clear: left;
            text-align: center;
            font-size: 130%;
            font-weight: 200;
            border-bottom: 1px solid $border-color;
            text-shadow: 1px 1px 0 #fff;
        }

        .class {
            margin: -1px 5px 0 0;
            clear: left;
            display: block;
            float: right;
            position: relative;
            padding: 5px;
            font-size: 90%;

            border: 1px solid transparent;

            @include border-radius(3px);

            &.color1 {
                background: #d7b8b8;
                border-color: #bc9393;
            }
            &.color2 {
                background: #b8d7b8;
                border-color: #93bc93;
            }
            &.color3 {
                background: #b8b8d7;
                border-color: #9393bc;
            }
            &.color4 {
                background: #d7d6b7;
                border-color: #bcb192;
            }
            &.color5 {
                background: #bccbd7;
                border-color: #97a6bc;
            }
            &.color6 {
                background: #d7c2d5;
            }
            &.color7 {
                background: #d0d7cd;
            }
            &.color8 {
                background: #a7d7cb;
            }
            &.color9 {
                background: #ffc37d;
            }
        }
        .time {
            display: none;
        }
        .crn {
            display: none;
        }
        .hour {
            display: none;
        }
        .instructor {
            display: none;
        }


        &:first-child {
            .dow {
                display: block;
                width: 160px;
            }
            .row {
                display: block;
                width: 160px;

                &:first-child, &:last-child { display: none }
            }
            .hour {
                display: block;
                font-size: 90%;
            }
            .class {
                margin: -19px 3px 0 0;
                width: 105px;
            }
        }
    }
}

