<script type="text/javascript">
  var description
  function toggleDescription(e)
  {
    description = e.parentNode.getElementsByClassName("description")[0];
    alert(description.style.display);
    if (description.style.display == "inline")
      description.style.display = "none";
    else
      description.style.display = "inline";
  }

  function hideDescription(e)
  {
    e.style.display = "none";
  }
</script>
<style>
  span.description { display: none }
</style>
{# requires context of: selected_courses, course, sem_year, sem_month #}
{# optional context of: always_show_sections=False #}
{% load course_tags %}

{% with seats_left_for_course=course.all_sections|seats_left %}
    <li class="course {% if seats_left_for_course < 1 %}no-seats{% endif %}{% if course.crns|length < 1 %} no-sections{% endif %}" >
        {% if course.crns|length > 0 %}
        <input type="checkbox" id="selected_course_{{ course.id }}" name="course_{{ course.id }}"
        {% if course in selected_courses %} checked="checked" {% endif %}
        data-cid="{{ course.id }}" data-crns="{{ course.crns|join }}" data-crns-full="{{ course.full_crns|join }}" />
        {% else %}
        <p style="float:left; width: 15px; height: 10px; margin: 0; padding: 0;"></p>
        {% endif %}
        <img src="{{ STATIC_URL }}img/tinyspinner.gif" class="tinyspinner" alt="" style="display: none" />
        <label class="padded" for="selected_course_{{ course.id }}" onClick="toggleDescription(this);">
            <span class="name">{{ course.name }}</span>
            <span class="secondary">
                <span class="code">
                    <span class="dept">{{ course.department.code }}</span>
                    <span class="number">{{ course.number }}</span>
                </span>
                <span class="credits">
                    {{ course.credits_display }}
                </span>
                <span class="seats-left">
                    {% if course.crns|length > 0 %}
                        {% if seats_left_for_course < 30 %}
                        {{ seats_left_for_course }} seat{{ seats_left_for_course|pluralize }} left
                        {% endif %}
                    {% else %}
                        No Sections
                    {% endif %}
                </span>
                <div class="kinds">
                    <ul>
                        {% for kind in course.kinds %}
                        <li>
                            {{ kind }}
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="notes">
                    <ul>
                        {% for note in course.notes %}
                        <li>
                            {{ note }}
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </span>
          </label>
        <span class="description">
          {{ course.description }}
        </span>
        {% endwith %}
    </li>
