{% spaceless %}
{# requires context of: selected_courses, course, sem_year, sem_month #}
{# optional context of: always_show_sections=False #}
{% load course_tags %}

{% with sections=course.sections.all %}
  {% with seats_left_for_course=sections|seats_left %}
    <div class="course {% if seats_left_for_course < 1 %}no-seats{% endif %}{% if course.section_ids|length < 1 %} no-sections{% endif %}">
        {% if course.section_ids|length > 0 %}
        <input type="checkbox"
				id="course_{{ course.id }}"
				name="course_{{ course.id }}"
				class="checkbox"
				analytics-on="click"
				analytics-event="toggle-selection"
				analytics-category="course"
				analytics-label="{{ course.id }}"
        {% if course in selected_courses %} checked="checked" {% endif %}
        data-cid="{{ course.id }}"
				data-sids="{{ course.section_ids|join }}"
				data-sids-full="{{ course.full_section_ids|join }}" />
        {% else %}
        <p style="float:left; width: 15px; height: 10px; margin: 0; padding: 0;"></p>
        {% endif %}
        <label class="checkbox_content" for="course_{{ course.id }}">
          <h2 class="name">{{ course.name }}</h2>
					<p class="details">
					<span class="dept">{{ course.department.code }}</span>
					<span class="number">{{ course.number }}</span>
					<span class="credits">{{ course.credits_display }}</span>
					<span class="num_sections">{{ course.num_sections_display }}</span>
					<span class="num_seats">{{ course.seats_left_display }}</span>
					</p>
				</label>
				<div class="checkbox_content">
					<ul class="sections">
						{% for section in sections %}
						<li class="section">
						<input type="checkbox" class="checkbox" id="section_{{section.id}}" name="section_{{section.id}}" />
						<label class="checkbox_content" for="section_{{section.id}}">
							<p class="section-details">
							<span class="number">Section {{section.number}}</span>
							<span class="instructors">{{section.instructors|join:', '}}</span>
							<span class="seats">{{section.seats_left}}</span>
							</p>
							{% with times=section.get_periods|period_dow_buckets %}
							<ul class="section-times {% if periods|length > 1 %}expanded{% endif %}">
								{% for dow in days_of_the_week %}
								{% with periods=times|get:dow %}
								<li class="section-time {% if periods %}has_times{% else %}has_no_times{% endif %}">
								<span class="dow">{{dow|dow_short}}</span>
								{% for period in periods %}
								<span class="time">
									{{period|display_period}}
								</span>
								{% endfor %}
								</li>
								{% endwith %}
								{% endfor %}
							</ul>
							{% endwith %}
						</label>
						</li>
						{% endfor %}
					</ul>
					<ul class="tags">
						{% for tag in course.tags %}
						<li title="{{ tag.title }}" class="{{ tag.classes }}">{{tag.name}}</li>
						{% endfor %}
					</ul>
					<p class="description">
					{{ course.description }}
					</p>
					<ul class="notes">
						{% for note in course.notes %}
						<li class="note">{{ note }}</li>
						{% endfor %}
					</ul>
        </div>
    </div>
  {% endwith %}
{% endwith %}
{% endspaceless %}
