{# this template is also reused for search results #}
{% extends 'site_base.html' %}

{% load course_tags %}

{% block title %}
	{% if search_results %}
		Search Results for '{{ query }}'' {% if query_department != 'all' %}in {{ query_department }}{% endif %}
	{% else %}
		{{ department.code }} ({{ semester.name }})
	{% endif %}
	|
{% endblock title%}

{% block header %}
{{ block.super }}
{% include '_nav.html' with selected='catalog' %}
{% endblock header %}

{% block content %}
{% include "courses/_search_courses.html" %}

{% csrf_token %}
<div class="catalog">
    <div class="courses">
        <div class="catalog course-list">
            {% for course in courses %}
            {% include 'courses/_course.html' with course=course sem_year=sem_year sem_month=sem_month always_show_sections=1 %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}

