{% extends 'site_base.html' %}

{% load url from future %}

{% block body_id %}departments-page{% endblock %}

{% block title %}{{ semester.name }} | {% endblock %}

{% block header %}
{{ block.super }}
{% include '_nav.html' with selected='catalog' %}
{% endblock header %}

{% block content %}
{% include "courses/_search_courses.html" %}
<div id="replacable-with-search">
	<div id="departments" class="listview">
        <h2>{{ semester.name }}</h2>
		<ul>
			{% for department in departments %}
			<li>
				<a href="{% url 'courses-by-dept' sem_year sem_month department.code %}">
					<span class="disclosure">&gt;</span>
					<span class="deptcode">{{ department.code }}</span>
					<span class="deptname">{{ department.name }}</span>
					<span class="num-courses">
					</span>
				</a>
			</li>
			{% endfor %}
		</ul>
	</div>
</div>
{% include 'courses/_conflict_template.html' %}
{% endblock content %}


{% block sidebar %}
{#% include 'courses/_selected_courses.html' %#}
{% endblock sidebar %}
