{% extends 'site_base.html' %}

{% load url from future %}

{% block body_id %}departments-page{% endblock %}

{% block title %}{{ semester.name }} | {% endblock %}

{% block header %}
{{ block.super }}
{% include '_nav.html' with selected='catalog' %}
{% endblock header %}

{% block content %}
{% include "courses/_search_courses.html" %}
<div class="dept-list">
	<ul>
		{% for dept in departments %}
		<li>
		<a href="{% url 'courses-by-dept' semester.year semester.month dept.code %}" class="dept" ng-click="click(dept)">
			<span class="code">
				{{dept.code}}
			</span>
			<span class="name">
				{{dept.name}}
			</span>
		</a>
		</li>
		{% endfor %}
	</ul>
</div>
{% include 'courses/_conflict_template.html' %}
{% endblock content %}


{% block sidebar %}
{#% include 'courses/_selected_courses.html' %#}
{% endblock sidebar %}
