{% extends 'site_base.html' %}

{% load course_tags %}

{% block title %}Selected Courses | {% endblock %}

{% block head %}
<meta name="robots" content="NOINDEX, FOLLOW">
{{ block.super }}
{% endblock %}

{% block header %}
{{ block.super }}
{% include '_nav.html' with selected='selected' %}
{% endblock header %}

{% block content %}
<div id="notification">
    <p>You are viewing a saved schedule.</p>
    <p><a href="#adopt" data-action="adopt-selection" data-raw-selection="{{ raw_selection|escape }}">Copy this to edit</a> or <a href="{% url selected-courses sem_year,sem_month %}">revert back to your own selection</a>.</p>
</div>
<div id="courses" class="listview"{% if selection %} data-readonly="true" data-selection="{{ selection.slug }}" data-raw-selection="{{ raw_selection|escape }}"{% endif %}>
    {% csrf_token %}
    <ul id="selected_courses">
      <div style="text-align: center">
        <p><img src="{{ STATIC_URL }}img/spinner.gif" alt="Loading" style="margin: 20px 0 20px 0"></p>
        <noscript>
          Sorry, javascript is required to select schedules :(
        </noscript>
      </div>
    </ul>
    <p class="total_credits"></p>
</div>

{# functions: #}
{# required context: #}
<script type="text/template" id="course-template">
<li class="course <%- course.getSeatsLeft() < 1 ? 'no-seats' : '' %><%- course.getCRNs().length < 1 ? 'no-sections' : '' %>">
    <% if (course.getCRNs().length > 0){ %>
        <input type="checkbox" id="selected_course_<%- course.id %>" name="course_<%- course.id %>"
    <% if (isReadOnly) { %> disabled="disabled" <% } %>
    <% if (course.getCRNs().some(isSelectedCRN)){ %> checked="checked" <% } %>
        data-cid="<%- course.id %>" data-crns="<%- course.getCRNs().join(', ') %>" data-crns-full="<%- course.getFullCRNs().join(', ') %>" />
    <% } else { %>
        <p style="float:left; width: 15px; height: 10px; margin: 0; padding: 0;"></p>
    <% } %>
    <label class="padded" for="selected_course_<%- course.id %>">
        <span class="name"><%- course.get('name') %></span>
        <span class="secondary">
            <span class="code">
                <span class="dept"><%- course.get('department').code %></span>
                <span class="number"><%- course.get('number') %></span>
            </span>
            <span class="credits">
                <%- course.getCreditsDisplay() %>
            </span>
            <span class="seats-left">
                <% if (course.getCRNs().length > 0){ %>
                    <% if (course.getSeatsLeft() < 30) { %>
                        <%- course.getSeatsLeft() %> seat<%- course.getSeatsLeft() === 1 ? '' : 's' %> left
                    <% } %>
                <% } else { %>
                    No Sections
                <% } %>
            </span>
            <div class="kinds">
                <ul>
                    <% for(var kinds=course.getKinds(), i=0, l=kinds.length; i<l; i++){ %>
                        <li><%- kinds[i] %></li>
                    <% } %>
                </ul>
            </div>
            <div class="notes">
                <ul>
                    <% for(var notes=course.getNotes(), i=0, l=notes.length; i<l; i++){ %>
                        <li><%- notes[i] %><li>
                    <% } %>
                </ul>
            </div>
        </span>
    </label>
    <% if (alwaysShowSections){ %>
    <span class="sections">
        <% if(course.getSections().length){ %>
            <ul>
                <% for(var sections=course.getSections(), i=0, l=sections.length; i<l; i++){ var section = sections.at(i); %>
                    <li class="section<%- section.get('seats_taken') >= section.get('seats_total') ? ' full' : '' %>">
                    <input type="checkbox" id="selected_course_<%- course.id %>_<%- section.get('crn') %>" name="selected_course_<%- course.id %>_<%- section.get('crn') %>" <%- isSelectedCRN(section.get('crn')) ? ' checked="checked"' : '' %> data-cid="<%- course.id %>" data-crn="<%- section.get('crn')  %>" <% if (isReadOnly) { %> disabled="disabled" <% } %> />
                        <label for="selected_course_<%- course.id %>_<%- section.get('crn') %>">
                            <span class="section-number">
                                Section <span class="number"><%- section.get('number') %></span>
                            </span>
                            <% if(section.get('seats_taken') >= section.get('seats_total')){ %>
                            <span class="section-seats-left none">No seats left</span>
                            <% } else { %>
                            <span class="section-seats-left">
                                <span class="number"><%- section.get('seats_left') %></span> seat<%- section.get('seats_left') === 1 ? '' : 's' %> left
                            </span>
                            <% } %>
                            <div class="instructors">
                                <ul>
                                    <% for(var instructors=section.getInstructors(), i2=0, l2=instructors.length; i2<l2; i2++){ %>
                                    <li><%- instructors[i2] %></li>
                                    <% } %>
                                </ul>
                            </div>
                        </label>
                        <ul class="days">
                            <% var times = periodsByDayOfWeek(section.get('periods')); %>
                            <% for(var i3=0, l3=days_of_the_week.length; i3<l3; i3++){ var dow = days_of_the_week[i3]; %>
                                <li class="item <%- times[dow].length ? 'selected' : 'empty' %>">
                                    <span class="short"><%- dow %></span>
                                    <span class="long"><%- dow %></span>
                                    <ul class="times">
                                        <% for(var i4=0, l4=times[dow].length; i4<l4; i4++){ %>
                                            <li><%- displayPeriod(times[dow][i4]) %></li>
                                        <% } %>
                                    </ul>
                                </li>
                            <% } %>
                        </ul>
                    </li>
                <% } %>
            </ul>
        <% } else { %>
            There are no listed sections.
        <% } %>
    </span>
    <% } %>
    <div class="clear"></div>
</li>
</script>

<script type="text/template" id="no-courses-template">
<div class="empty">
    <h3 class="text-center">...</h3>
    <p>Here would be any courses you selected... <br/>if only you picked out some courses.</p>
    <p>
        Checking courses from the <a href="{% url departments sem_year,sem_month %}">catalog</a>
        will show up here.
    </p>
</div>
</script>
{% endblock content %}

{% block sidebar %}
{% endblock sidebar %}
