{% extends 'site_base.html' %}

{% load course_tags %}

{% block title %}Selected Courses | {% endblock %}

{% block head %}
<meta name="robots" content="NOINDEX, FOLLOW">
{% if selection %}
    <meta name="selection-raw" content="{{ raw_selection|escape }}">
    <meta name="selection-slug" content="{{ selection.slug }}">
{% endif %}
{{ block.super }}
{% endblock %}

{% block header %}
{{ block.super }}
{% include '_nav.html' with selected='selected' %}
{% endblock header %}

{% block content %}
{% if selection %}
{% include 'scheduler/_saved_selection_notification.html' with type='selection' sem_year=sem_year sem_month=sem_month %}
{% endif %}

<div id="courses" class="listview"{% if selection %} data-readonly="yes"{% endif %}>
    {% csrf_token %}
    <ul id="selected_courses">
      <div style="text-align: center">
        <p><img src="{{ STATIC_URL }}img/spinner.gif" alt="Loading" style="margin: 20px 0 20px 0"></p>
        <noscript>
          Sorry, javascript is required to select schedules :(
        </noscript>
      </div>
    </ul>
    <p class="total_credits"></p>
</div>
<div class="actions">
    <a href="#" class="button" data-action="clear-selection">Clear Selection</a>
</div>


{# functions: #}
{# required context: #}
<script type="text/template" id="course_template">
<li class="course <%- course.seats_left < 1 ? 'no-seats' : '' %><%- course.sections.length < 1 ? 'no-sections' : '' %>">
    <% if (course.sections.length > 0){ %>
        <input type="checkbox" id="course_<%- course.id %>" name="course_<%- course.id %>"
    <% if (isReadOnly) { %> disabled="disabled" <% } %>
    <% if (_.any(course.section_ids, isSelectedSection)){ %> checked="checked" <% } %>
        data-cid="<%- course.id %>" data-sids="<%- course.section_ids.join(', ') %>" data-sids-full="<%- course.section_ids.join(', ') %>" />
    <% } else { %>
        <p style="float:left; width: 15px; height: 10px; margin: 0; padding: 0;"></p>
    <% } %>
    <label class="padded" for="course_<%- course.id %>">
        <span class="name"><%- course.name %></span>
        <span class="secondary">
            <span class="code">
                <span class="dept"><%- course.department.code %></span>
                <span class="number"><%- course.number %></span>
            </span>
            <span class="credits">
                <% if(course.min_credits == course.max_credits) { %>
                  <%- course.min_credits + ' ' + pluralize('credit', course.min_credits) %>
                <% } else { %>
                  <%- course.min_credits %> - <%- course.max_credits %> credits
                <% } %>
            </span>
        </span>
    </label>
    <span class="secondary">
        <span class="seats-left">
            <% if (course.sections.length > 0){ %>
                <% if (course.seats_left <= 0) { %>
                    No seats left
                <% } else if (course.seats_left < 30) { %>
                    <%- course.seats_left %> <%- pluralize('seat', course.seats_left) %> left
                <% } %>
            <% } else { %>
                No Sections
            <% } %>
        </span>
        <% if (course.description.length) { %>
          <div class="description summarize">
            <%= course.description %>
          </div>
        <% } %>
        <% if (course.is_comm_intense) { %>
          <div class="requirement comm description">Communication Intensive</div>
        <% } %>
        <% if (course.prereqs !== "" && course.prereqs !== "None") { %>
          <div class="requirement prereq description">
            <%- course.prereqs %>
          </div>
        <% } %>
        <div class="kinds">
            <ul>
                <% for(var kinds=course.kinds, i=0, l=kinds.length; i<l; i++){ %>
                    <li><%- kinds[i] %></li>
                <% } %>
            </ul>
        </div>
        <div class="notes">
            <ul>
                <% for(var notes=course.notes, i=0, l=notes.length; i<l; i++){ %>
                    <li><%- notes[i] %><li>
                <% } %>
            </ul>
        </div>
    </span>
    <% if (alwaysShowSections){ %>
    <span class="sections">
        <% if(course.sections.length){ %>
            <ul>
                <% for(var sections=course.sections, i=0, l=sections.length; i<l; i++){ var section = sections[i]; %>
                    <li class="section<%- section.seats_taken >= section.seats_total ? ' full' : '' %>">
                    <input type="checkbox" id="section_<%- section.id %>" name="section_<%- section.id %>" <%- isSelectedSection(section.id) ? ' checked="checked"' : '' %> data-cid="<%- course.id %>" data-sid="<%- section.id  %>" <% if (isReadOnly) { %> disabled="disabled" <% } %> />
                        <label for="section_<%- section.id %>">
                            <span class="section-number">
                                Section <span class="number"><%- section.number %></span>
                            </span>
                            <% if(section.seats_left <= 0){ %>
                            <span class="section-seats-left none">No seats left</span>
                            <% } else { %>
                            <span class="section-seats-left">
                                <span class="number"><%- section.seats_left %></span> seat<%- section.seats_left === 1 ? '' : 's' %> left
                            </span>
                            <% } %>
                            <div class="instructors">
                                <ul>
                                    <% for(var instructors=section.instructors, i2=0, l2=instructors.length; i2<l2; i2++){ %>
                                    <li><%- instructors[i2] %></li>
                                    <% } %>
                                </ul>
                            </div>
                        </label>
                        <ul class="days">
                            <% var times = periodsByDayOfWeek(section.section_times); %>
                            <% for(var i3=0, l3=days_of_the_week.length; i3<l3; i3++){ var dow = days_of_the_week[i3]; %>
                                <li class="item <%- times[dow].length ? 'selected' : 'empty' %>">
                                    <span class="short"><%- dow %></span>
                                    <span class="long"><%- dow %></span>
                                    <ul class="times">
                                        <% for(var i4=0, l4=times[dow].length; i4<l4; i4++){ %>
                                            <li><%- displayTime(times[dow][i4]) %></li>
                                        <% } %>
                                    </ul>
                                </li>
                            <% } %>
                        </ul>
                    </li>
                <% } %>
            </ul>
        <% } else { %>
            There are no listed sections.
        <% } %>
    </span>
    <% } %>
    <div class="clear"></div>
</li>
</script>

<script type="text/template" id="no_courses_template">
<div class="empty">
    <h3 class="text-center">...</h3>
    <p>Here would be any courses you selected... <br/>if only you picked out some courses.</p>
    <p>
        Checking courses from the <a href="{% url 'departments' sem_year sem_month %}">catalog</a>
        will show up here.
    </p>
</div>
</script>
{% include 'courses/_conflict_template.html' %}
{% endblock content %}

{% block sidebar %}
{% endblock sidebar %}
