body {
	background: #efefef;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: normal;
	margin: 0;
	padding: 0;
}
h1 { font-size: 250% }

.beta {
	color: #999;
	font-size: 60%;
	margin-left: -0.2em;
}

.spinner {
	position: absolute;
	left: 14px;
	top: 42px;
}

#wrap {
	padding: 1em;
}

#hd {
	text-align: center;
}
#hd h1 span {
	color: #733;
}

#bd {
	font-family: "Helvetica Neue", "Open Sans", Helvetica, Arial, sans-serif;
}

a:link, a:visited {
	color: #933;
	text-decoration: none;
}
a:link:hover {
	color: #c55;
	text-decoration: underline;
}

/** Menu **/
#hd .menu {
	border-top: 1px solid #d3d3d3;
	font-size: 120%;
	font-weight: 100;
}
.semester-selector {
	position: absolute;
	left: 14px;
	top: 14px;
	font-size: 150%;
}
.menu {
	display: inline-block;
	margin: 0.5em auto 0.5em 0;
}
.menu li {
	display: block;
	float: left;
	margin: 0;
	width: 8em;
}
.menu a:link, .menu a:visited {
	display: block;
	margin: 0;
	padding: 0.5em 0;
	text-decoration: none;
	width: 100%;
}
.menu a:link:hover {
	border-top: 2px solid #c33;
	color: #c33;
	text-decoration: none;
}
.menu .selected a:link, .menu .selected a:visited {
	border-top: 2px solid #955;
	color: #000;
}

/** Submenu **/
.submenu {
	display: inline-block;
	margin: auto;
	float: right;
	margin-top: -2em;
	margin-bottom: 1em;
}
.submenu li {
	display: block;
	float: left;
	margin: 0.25em 0 0.25em 0.25em;
	width: 6em;
}
.submenu a:link, .submenu a:visited {
	border-top: 1px solid #933;
	display: block;
	font-weight: 200;
	letter-spacing: 1px;
	padding: 0.25em 0;
	text-align: center;
	width: 100%;
}
.submenu a:link:hover {
	border-top: 1px solid #c33;
	color: #c33;
	text-decoration: none;
}

/** Search **/
#search {
	clear: both;
	margin: auto;
	text-align: center;
}
#q {
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 150%;
	font-weight: 100;
	padding: 5px 10px;
	width: 25em;
}

/** Course Display **/
.course .details {
	color: #711;
}

.feedback {
	position: absolute;
	right: 14px;
	top: 14px;
}

/** Footer **/
#ft {
	clear: both;
	color: #999;
	font-size: 90%;
	padding: 1em;
	text-align: left;
}

/** Docs **/
.docs {
	font-size: 110%;
	font-weight: 200;
	line-height: 1.25em;
	margin: auto;
	width: 950px;
}

.docs p {
	margin: 0 0 1em 0;
}

.docs .section {
	margin-left: 1em;
}

.docs strong {
	font-weight: bold;
}

.docs ul {
	font-size: 110%;
	list-style-type: square;
	margin: 1em 0;
	padding-left: 2em;
}

.docs h2, .docs h3 {
	font-size: 150%;
	font-weight: bold;
	margin: 1em 0 0.5em 0;
	text-align: left;
}

.docs h3 {
	font-size: 125%;
}

.docs dl {
	border-left: 1px solid #999;
	margin: 1em 0 1em 0;
	padding-left: 1em;
}

.docs dt {
	font-weight: normal;
	margin-top: 0.5em;
}

.docs dd {
	margin-left: 1em;
}

.docs code {
	background: #ccc;
	font-family: "Lucida Console", Monaco, monospace;
	padding: 0.05em;
}
