#hd,
.submenu,
#search,
.schedule .options,
.schedule .prev-schedule,
.schedule .next-schedule,
.num_seats,
.seats,
#ft {
	display: none;
}

body {
	background: transparent;
	font-size: 11pt;
}

.dept-list .dept {
	margin: 0;
	padding: 0;
}

.catalog .checkbox {
	display: none;
}

/** Conflict styling is @media queried **/
.course_conflict, .section_conflict {
	display: none;
}
