.schedule {
	float: left;
	padding-bottom: 1em;
	width: 860px;
}

.schedules .empty {
	clear: both;
}

/** General Layout **/
.schedule div {
	margin: 0;
	padding: 0;
}

.schedule h2 {
	float: left;
	margin: 0 0 1em 2em;
}

.schedule .options {
	color: #555;
	display: block;
	font-size: 90%;
}

.schedule p {
	float: right;
	margin-right: 1em;
}

.schedule .week {
	clear: both;
}

/** Columns **/
.schedule .dow {
	display: block;
	float: left;
	width: 10em;
}

.schedule .dow.times {
	margin-right: 0.25em;
	width: 3em;
}

/** Day of the week headers **/
.schedule .dow.times .header.row {
	margin-bottom: -3px;
	padding: 0;
}
.schedule .dow.times .row {
	text-align: right;
	padding: 0 0.2em 4px 0;
}
.schedule .dow.times .row.hour {
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
}

/* Each Cell */
.schedule .row {
	border-bottom: 1px solid transparent;
	border-top: 1px solid transparent;
	display: block;
	height: 20px;
	padding: 2px 0;
}

.schedule .row.hour {
	border-top: 1px solid #aaa;
	border-bottom: 1px solid #ccc;
}

.schedule .row.hour.noon {
	border-top: 1px solid #333;
}

.schedule .header {
	text-align: center;
}

.schedule a.row.blockable:hover {
	background: #aaa;
}

.schedule a.row.blockable.blocked {
	background: #bbb;
}

/** Selected Sections on the schedule **/
.schedule .sections {
	position: relative;
	width: 0;
	height: 0;
}

.schedule .section {
	font-size: 90%;
	line-height: 1.15em;
	opacity: 0.85;
	overflow: hidden;
	padding: 0.25em;
	position: absolute;
	white-space: nowrap;
	width: 8.5em;
}

.schedule .section .type {
	float: right;
}

.schedule .section .short {
	display: block;
}

.schedule .section .time {
	display: block;
}

/** Section Colors **/
.color1 {
	background: #edd;
	border-left: 0.2em solid #b44;
	color: #722;
}
.color2 {
	background: #ded;
	border-left: 0.2em solid #4b4;
	color: #272;
}
.color3 {
	background: #dde;
	border-left: 0.2em solid #44b;
	color: #227;
}
.color4 {
	background: #eed;
	border-left: 0.2em solid #994;
	color: #661;
}
.color5 {
	background: #dee;
	border-left: 0.2em solid #499;
	color: #166;
}
.color6 {
	background: #ede;
	border-left: 0.2em solid #949;
	color: #616;
}
.color2 {
	background: #fdc;
	border-left: 0.2em solid #b62;
	color: #720;
}
.color8 {
	background: #cfb;
	border-left: 0.2em solid #5a2;
	color: #270;
}
.color9 {
	background: #cbf;
	border-left: 0.2em solid #52a;
	color: #207;
}

/** Catalog Selection + Responsiveness **/
.schedules .courses {
	font-size: 95%;
}
/* Small */
@media screen and (max-width: 768px) {
	.schedules {
		margin-left: 0;
	}
	.schedule {
		width: 590px;
		font-size: 95%;
	}
	.schedule .dow {
		width: 7em;
	}
	.schedule .dow.times {
		margin-right: 0.15em;
		font-size: 90%;
	}
	.schedule .section {
		width: 6.5em;
		font-size: 85%;
	}
}
@media screen and (min-width: 768px) {
	.schedule {
		width: 768px;
		font-size: 98%;
	}
	.schedule .dow {
		width: 9em;
	}
	.schedule .section {
		width: 8.5em;
		font-size: 90%;
	}
}
/* Medium */
@media screen and (min-width: 960px) {
	.schedule {
		width: 860px;
	}
	.schedule .dow {
		width: 10em;
	}
	.schedule .dow.times {
		font-size: 100%
		margin-right: 0.25em;
	}
	.schedule .section {
		width: 8.5em;
		font-size: 90%;
	}

	.schedules .courses {
		margin-left: inherit;
		position: static;
	}
}
/* Super-wide */
@media screen and (min-width: 1400px){
	.schedules .courses {
		margin-left: 870px;
		position: absolute;
	}
}
