<!DOCTYPE html>

<!--
320 and Up boilerplate extension
Author: Andy Clarke
Version: 0.9b
URL: http://stuffandnonsense.co.uk/projects/320andup
-->
{#% with 'manifest.appcache?v=1' as manifest %#}
{% with '' as manifest %}
<!--[if IEMobile 7 ]><html class="no-js iem7"{% if manifest %} manifest="{{ manifest }}"{% endif %}><![endif]-->
<!--[if lt IE 7 ]><html class="no-js ie6" lang="en"><![endif]-->
<!--[if IE 7 ]><html class="no-js ie7" lang="en"><![endif]-->
<!--[if IE 8 ]><html class="no-js ie8" lang="en"><![endif]-->
<!--[if (gte IE 9)|(gt IEMobile 7)|!(IEMobile)|!(IE)]><!--><html class="no-js" {% if manifest %}manifest="{{ manifest }}"{% endif %} lang="en"><!--<![endif]-->
{% endwith %}

<head>
<meta charset="utf-8">
{% if sem_year and sem_month %}
<meta name="selection-url" content="{% url selected-courses sem_year,sem_month %}?ajax=1">
<meta name="select-url" content="{% url deselect-courses sem_year,sem_month %}">
<meta name="schedules-url" content="{% url ajax-schedules sem_year,sem_month %}">
{% endif %}

<title>{% block title %}{% endblock %}YACS - The fast way to pick your course schedule</title>
{% block head %}{% endblock %}
</head>

<body class="clearfix" id="{% block body-id %}{% endblock %}">

<header role="banner" class="clearfix">
{% block header %}
<h1>YACS</h1>
<a class="alpha" href="https://twitter.com/jeffhui">Beta</a>
{% endblock %}
</header>

<div class="content clearfix">

<div role="main" class="main">
{% block content %}{% endblock %}
</div>

<div role="complementary">
{% block sidebar %}{% endblock %}
</div>

</div>

<footer role="contentinfo" class="clearfix">
{% block footer %}
<p>&copy; 2011 by Jeff Hui - A <a href="http://rcos.rpi.edu">RCOS</a> Project</p>
{% endblock %}
</footer>

{% block javascript %}{% endblock %}
</body>
</html>
