<!DOCTYPE html>

<!-- 
320 and Up boilerplate extension
Author: Andy Clarke
Version: 0.9b
URL: http://stuffandnonsense.co.uk/projects/320andup 
-->

<!--[if IEMobile 7 ]><html class="no-js iem7" manifest="default.appcache?v=1"><![endif]-->
<!--[if lt IE 7 ]><html class="no-js ie6" lang="en"><![endif]-->
<!--[if IE 7 ]><html class="no-js ie7" lang="en"><![endif]-->
<!--[if IE 8 ]><html class="no-js ie8" lang="en"><![endif]-->
<!--[if (gte IE 9)|(gt IEMobile 7)|!(IEMobile)|!(IE)]><!--><html class="no-js" manifest="default.appcache?v=1" lang="en"><!--<![endif]-->

<head>
<meta charset="utf-8">

<title>{% block title %}{% endblock %}TimeTable - The fast way to pick your course schedule</title>
{% block head %}{% endblock %}
</head>

<body class="clearfix">

<header role="banner" class="clearfix">
{% block header %}
<h1>Timetable</h1>
{% endblock %}
</header>

<div class="content clearfix">

<div role="main">
{% block content %}{% endblock %}
</div>

<div role="complementary">
{% block sidebar %}{% endblock %}
</div>

</div>

<footer role="contentinfo" class="clearfix">
{% block footer %}
<p>&copy; 2011 by Jeff Hui</p>
{% endblock %}
</footer>

{% block javascript %}{% endblock %}
</body>
</html>