{% extends 'base.html' %}
{% comment %}
Site-specific customizations
------------------------------

Should assume as little as possible since 404.html & 500.html utilize these template.
It would be bad if a 500 error page threw a 500 error when trying to render...

{% endcomment %}


{% block head %}
<title>{% block title %}{% endblock %}YACS - The usable course scheduler for RPI</title>

<meta name="description" content="The usable course scheduler for Rensselaer Polytechnic Institute (RPI). Quickly and easily schedule courses for next semester!">
<meta name="author" content="Jeff Hui">
<meta name="copyright" content="(c)2011 Jeff Hui">
<meta name="keywords" content="rpi courses, rpi course scheduler, course scheduling, yacs">

<!-- http://t.co/dKP3o1e -->
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, target-densitydpi=160dpi, initial-scale=1, maximum-scale=1, minimum-scale=1">

<!-- fonts -->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css' />
<link href='http://fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>

<!-- For less capable mobile browsers
<link rel="stylesheet" media="handheld" href="css/handheld.css?v=1">  -->

<!-- For all browsers -->
<link rel="stylesheet" media="screen" href="{{ STATIC_URL }}css/style.css?v=1">
<link rel="stylesheet" media="screen" href="{{ STATIC_URL }}css/320.css?v=1">
<!-- For progressively larger displays -->
<link rel="stylesheet" media="only screen and (min-width: 480px)" href="{{ STATIC_URL }}css/480.css?v=1">
<link rel="stylesheet" media="only screen and (min-width: 768px)" href="{{ STATIC_URL }}css/768.css?v=1">
<link rel="stylesheet" media="only screen and (min-width: 992px)" href="{{ STATIC_URL }}css/992.css?v=1">
<link rel="stylesheet" media="only screen and (min-width: 1382px)" href="{{ STATIC_URL }}css/1382.css?v=1">
<!-- For Retina displays -->
<link rel="stylesheet" media="only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2)" href="{{ STATIC_URL }}css/2x.css?v=1">

<!--[if IE]>
<link rel="stylesheet" media="screen" href="{{ STATIC_URL }}css/ie.css?v=1">
<![endif]-->

<!-- so print gets higher priority -->
<link rel="stylesheet" media="print" href="{{ STATIC_URL }}css/print.css?v=1">

<!-- JavaScript at bottom except for Modernizr -->
<script src="{{ STATIC_URL }}js/libs/modernizr-1.7.min.js"></script>

<!-- For iPhone 4 -- >
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ STATIC_URL }}img/h/apple-touch-icon.png">
<!-- For iPad 1-- >
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ STATIC_URL }}img/m/apple-touch-icon.png">
<!-- For iPhone 3G, iPod Touch and Android -- >
<link rel="apple-touch-icon-precomposed" href="{{ STATIC_URL }}img/l/apple-touch-icon-precomposed.png">
<!-- For Nokia -- >
<link rel="shortcut icon" href="{{ STATIC_URL }}img/l/apple-touch-icon.png">
<!-- For everything else -->
<link rel="shortcut icon" href="{{ STATIC_URL }}favicon.ico">

<!--iOS. Delete if not required
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<link rel="apple-touch-startup-image" href="{{ STATIC_URL }}img/splash.png">
 -->

<!--Microsoft. Delete if not required -->
<meta http-equiv="cleartype" content="on">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

<!-- http://t.co/y1jPVnT
<link rel="canonical" href="/">
-->
{% endblock head %}


{% block javascript %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.js"></script>
<script>window.jQuery || document.write('<script src="{{ STATIC_URL }}js/libs/jquery-1.6.4.min.js">\x3C/script>')</script>
<!-- Scripts -->
<script src="{{ STATIC_URL }}js/libs/jquery.history.js"></script>
<script src="{{ STATIC_URL }}js/libs/underscore-1.2.0.min.js"></script>
<!--
<script src="{{ STATIC_URL }}js/libs/backbone-0.5.3.min.js"></script>
-->

<script src="{{ STATIC_URL }}js/320nu.js"></script>
<!--
<script src="{{ STATIC_URL }}js/models.js?v=1"></script>
<script src="{{ STATIC_URL }}js/application.js?v=1"></script>
-->
<script src="{{ STATIC_URL }}js/utils.js?v=2"></script>
<script src="{{ STATIC_URL }}js/selected_sections.js?v=2"></script>
<script src="{{ STATIC_URL }}js/schedules.js?v=1"></script>
<script src="{{ STATIC_URL }}js/search.js?v=1"></script>
<!-- <script src="{{ STATIC_URL }}js/navigation.js?v=1"></script>
<!-- -->

<!--[if (lt IE 9) & (!IEMobile)]>
<script src="{{ STATIC_URL }}js/libs/ie-bundle.js"></script>
<![endif]-->

<!-- http://t.co/HZe9oJ4
<script>
var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']]; // Change UA-XXXXX-X to be your site's ID
(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
s.parentNode.insertBefore(g,s)}(document,'script'));
</script>
-->
<noscript>Your browser does not support JavaScript!</noscript>
{% endblock javascript %}
