
<div class="nav">
    <ul>
        <li><a href="{% url departments sem_year,sem_month %}" class="catalog button{% if selected == 'catalog' %} selected{% endif %}">Catalog</a></li>
        <li><a href="{% if selection %}
          {% url selected-courses sem_year,sem_month,selection.slug %}
          {% else %}
          {% url selected-courses sem_year,sem_month %}
          {% endif %}" class="selected_courses button{% if selected == 'selected' %} selected{% endif %}">Selected</a></li>
        <li><a href="{% if selection %}
          {% url schedules sem_year,sem_month,selection.slug %}
          {% else %}
          {% url schedules sem_year,sem_month %}
          {% endif %}" class="schedules button{% if selected == 'schedules' %} selected{% endif %}">Schedules</a></li>
    </ul>
</div>
