<!DOCTYPE html>

<!-- 320andup: http://stuffandnonsense.co.uk/projects/320andup -->
{#% with 'manifest.appcache?v=1' as manifest %#}
{% with '' as manifest %}
<!--[if IEMobile 7 ]><html class="no-js iem7"{% if manifest %} manifest="{{ manifest }}"{% endif %}><![endif]-->
<!--[if lt IE 7 ]><html class="no-js ie6" lang="en"><![endif]-->
<!--[if IE 7 ]><html class="no-js ie7" lang="en"><![endif]-->
<!--[if IE 8 ]><html class="no-js ie8" lang="en"><![endif]-->
<!--[if (gte IE 9)|(gt IEMobile 7)|!(IEMobile)|!(IE)]><!--><html class="no-js" {% if manifest %}manifest="{{ manifest }}"{% endif %} lang="en"><!--<![endif]-->
{% endwith %}

<head>
<meta charset="utf-8">
{% if semester %}
<meta name="semester-id" content="{{ semester.id }}">
{% endif %}
<meta name="spinner-url" content="{{ STATIC_URL }}img/spinner.gif">
{% if sem_year and sem_month %}
<meta name="schedules-url" content="{% url schedules sem_year,sem_month %}" />
{% endif %}
{% block head %}{% endblock %}
</head>

<body class="clearfix" id="{% block body-id %}{% endblock %}">

<img class="spinner" src="{{ STATIC_URL }}img/spinner.gif" alt="Loading" style="display:none" />

<header role="banner" class="clearfix">
{% block header %}
<h1>{% block app-title %}YACS{% endblock %}</h1>
{% endblock %}
</header>

<div class="content clearfix">

<div role="main" class="main">
{% block content %}{% endblock %}
</div>

<div role="complementary">
{% block sidebar %}{% endblock %}
</div>

</div>

<footer role="contentinfo" class="clearfix">
{% block footer %}
<p>&copy; 2012 by <a href="http://twitter.com/#!/jeffhui">Jeff Hui</a> - A <a href="http://rcos.rpi.edu">RCOS</a> Project, which means it's <a href="http://github.com/jeffh/YACS">open source</a>.</p>
{% endblock %}
</footer>

{% block javascript %}{% endblock %}
</body>
</html>
