<!DOCTYPE html>
{% load url from future %}
<head>
<meta charset="utf-8">
{% if semester %}
<meta name="semester-id" content="{{ semester.id }}">
{% endif %}
<meta name="spinner-url" content="{{ STATIC_URL }}img/spinner.gif">
{% if sem_year and sem_month %}
<meta name="schedules-url" content="{% url 'schedules' sem_year sem_month %}" />
{% endif %}
{% block head %}{% endblock %}
</head>

<body id="{% block body_id %}{% endblock %}">
{% block body %}
<div id="wrap">
	<div id="hd" ng-controller="NavCtrl">
		<select
			class="semester-selector"
			ng-change="changeToSemester(semester)"
			ng-model="semester"
			ng-options="semester.name for semester in semesters track by semester.id">
			<option value="{% templatetag openvariable %}semester.id{% templatetag closevariable %}">
				{% templatetag openvariable %}semester.name {% templatetag closevariable %}
			</option>
		</select>
		{% block header %}
		<h1>{% block app-title %}YACS{% endblock %}</h1>
		{% endblock %}
	</div>
	<div id="bd">
		<div ng-view>
			{% block content %}{% endblock %}
		</div>
	</div>
	<div id="ft" ng-controller="FooterCtrl">
		&copy; 2013 <a href="http://twitter.com/jeffhui">Jeff Hui</a> &amp; <a href="https://github.com/jeffh/YACS/blob/master/CONTRIBUTORS.txt">Friends</a>.
		<a href="http://rcos.rpi.edu">RCOS</a> project.
		Bored? Try the <a href="{% url 'api:v4:docs' %}">API</a>.
	</div>
</div>
	{% endblock body %}
	{% block javascript %}{% endblock %}
</body>
</html>
