{% extends 'site_base.html' %}

{% block body-id %}course-page{% endblock %}

{% block header %}
{{ block.super }}
{% include '_nav.html' with selected='catalog' %}
{% endblock header %}

{% block content %}
{% include "courses/_search_courses.html" %}
<div id="course">
    <h1>
        <input type="checkbox" id="course_{{ course.id }}" name="course_{{ course.id }}"{% if course in selected_courses %} checked="checked"{% endif %} />
        {{ course.name }}
    </h1>
    <p class="code">{{ course.code }}</p>
    <h2>Sections</h2>
    <ul>
        {% for section in course.all_sections %}
        <li>
            Section {{ section.number }} (<span class="crn">{{ section.crn }}</span>)
            <span class="times-in-words">
                M &amp; Th from 4:00-5:00pm
            </span>
        </li>
        {% endfor %}
    </ul>

    <!-- TODO: show week view ??? -->
</div>
{% endblock content %}


{% block sidebar %}
{% include 'courses/_selected_courses.html' %}
{% endblock sidebar %}
