{# this template is also reused for search results #}
{% extends 'site_base.html' %}

{% load courses %}

{% block header %}
{{ block.super }}
<div class="nav">
	<ul>
		<li><a href="{% url departments sem_year,sem_month %}" class="button selected">Catalog</a></li>
		<li><a href="#selected" class="button">Selected</a></li>
		<li><a href="{% url schedules sem_year,sem_month %}" class="button">Schedules</a></li>
	</ul>
</div>
{% endblock header %}

{% block content %}
{% include "courses/_search_courses.html" %}

<div id="courses" class="listview {% if search_results %}search-results {% if query_department == 'all' %}all-dept{% else %}specific-dept{% endif %}{% endif %}">

{% if not search_query %}
<h2>{% firstof department.name department.code %}</h2>
{% endif %}

<form action="{% url select-courses sem_year,sem_month %}" method="post">
	{% csrf_token %}
	<ul>
		{% for course in courses %}
		{% with seats_left_for_course=course|seats_left_for_course:sections %}
			<li class="{% if seats_left_for_course < 1 %}no-seats{% endif %}">
				<input type="checkbox" id="course_{{ course.id }}" name="course_{{ course.id }}"{% if course in selected_courses %} checked="checked"{% endif %} />
				<label for="course_{{ course.id }}">
				<span class="name">{{ course.name }}</span>
				<span class="secondary">
					<span class="code">
						<span class="dept">{{ course.department.code }}</span>
						<span class="number">{{ course.number }}</span>
					</span>
					{% comment %}
					<div class="sections">
						<ul>
							{% for sections in course.sections.all %}
							{% for period in sections.periods.all %}
							<li>
								{{ period }}
							</li>
							{% endfor %}
							{% endfor %}
						</ul>
					</div>
					{% endcomment %}
					<span class="seats-left">
						{% if seats_left_for_course < 30 %}
						{{ seats_left_for_course }} seat{{ seats_left_for_course|pluralize }} left
						{% endif %}
					</span>
					<span class="credits">
						{% if course.credits != 4 %}
						{{ course.credits_display }}
						{% endif %}
					</span>
					<div class="instructors">
						<ul>
							{% for instructor in course.instructors %}
							<li>
								{{ instructor }}
							</li>
							{% endfor %}
						</ul>
					</div>
					<div class="kinds">
						<ul>
							{% for kind in course.kinds %}
							<li>
								{{ kind }}
							</li>
							{% endfor %}
						</ul>
					</div>
				</span>
				</label>
			</li>
		{% endwith %}
		{% endfor %}
	</ul>
	<p class="actions">
		<input type="hidden" name="redirect_to" value="{{ request.get_full_path }}" />
		<input type="submit" value="Add Selected" />
	</p>
</form>
</div>
{% endblock content %}

{% block sidebar %}
{% include 'courses/_selected_courses.html' %}
{% endblock sidebar %}
