/* GENERAL */
html {
  /*background: #8d0000 url('../img/320-bg.png') 0 0 repeat-x; */
  /* @include background-gradient(#af0000, #8d0000); */
  background: white;
  /* Old browsers */
  background: -moz-linear-gradient(top, white 0%, #e0e0e0 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #e0e0e0));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, white 0%, #e0e0e0 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, white 0%, #e0e0e0 100%);
  /* Opera11.10+ */
  background: -ms-linear-gradient(top, white 0%, #e0e0e0 100%);
  /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='white', endColorstr='#e0e0e0',GradientType=0 );
  /* IE6-9 */
  background: linear-gradient(top, white 0%, #e0e0e0 100%);
  /* W3C */
  background-attachment: fixed; }

body {
  padding: 0;
  color: #333;
  width: 90%;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  min-width: 315px;
  /* @include transition(all $transition-fast $transition-type); */ }

.touch body {
  width: 100%;
  font-family: "Helvetica Neue", "Open Sans", Helvetica, Arial, sans-serif; }

h2 {
  font-size: 115%;
  color: #000;
  padding: 3px 5px;
  margin: 0;
  font-weight: normal; }

img {
  max-width: 100%; }

a:link, a:visited {
  color: #000094; }

a:link:hover, a:visited:hover {
  color: #a42020; }

p {
  padding: 0 5px; }

.clear {
  clear: both; }

.text-center {
  text-align: center; }

.button {
  color: #eee;
  text-shadow: 1px 1px 0 #111;
  text-decoration: none;
  padding: 5px 10px;
  display: block;
  border: 1px solid #933;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  background: #a42020;
  /* Old browsers */
  background: -moz-linear-gradient(top, #a42020 0%, #741010 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a42020), color-stop(100%, #741010));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #a42020 0%, #741010 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #a42020 0%, #741010 100%);
  /* Opera11.10+ */
  background: -ms-linear-gradient(top, #a42020 0%, #741010 100%);
  /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a42020', endColorstr='#741010',GradientType=0 );
  /* IE6-9 */
  background: linear-gradient(top, #a42020 0%, #741010 100%);
  /* W3C */ }
  .button:link, .button:visited {
    color: #eee;
    text-decoration: none; }
  .button:hover, .button:visited:hover {
    color: #fff;
    border: 1px solid #c33;
    background: #b42020;
    /* Old browsers */
    background: -moz-linear-gradient(top, #b42020 0%, #941010 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b42020), color-stop(100%, #941010));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #b42020 0%, #941010 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #b42020 0%, #941010 100%);
    /* Opera11.10+ */
    background: -ms-linear-gradient(top, #b42020 0%, #941010 100%);
    /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b42020', endColorstr='#941010',GradientType=0 );
    /* IE6-9 */
    background: linear-gradient(top, #b42020 0%, #941010 100%);
    /* W3C */ }
  .button:active {
    border: 1px solid #733;
    background: #941010;
    /* Old browsers */
    background: -moz-linear-gradient(top, #941010 0%, #b42020 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #941010), color-stop(100%, #b42020));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #941010 0%, #b42020 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #941010 0%, #b42020 100%);
    /* Opera11.10+ */
    background: -ms-linear-gradient(top, #941010 0%, #b42020 100%);
    /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#941010', endColorstr='#b42020',GradientType=0 );
    /* IE6-9 */
    background: linear-gradient(top, #941010 0%, #b42020 100%);
    /* W3C */ }

a.button:hover, a.button:visited:hover {
  color: #eee;
  text-decoration: none; }

.empty {
  text-align: center; }
  .empty h3 {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 500%;
    margin: -50px 0 0 0;
    padding: 0; }

/* END GENERAL */
/* HEADER */
header h1 {
  padding: 0.5em 0;
  margin: 0;
  text-align: center;
  font-size: 200%;
  color: #333;
  font-family: "Helvetica Neue", "Lato", Helvetica, Arial, sans-serif;
  font-weight: 100; }
header .alpha {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #eee;
  background: #940000;
  padding: 5px;
  position: absolute;
  top: 22px;
  right: 0;
  border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  -webkit-border-radius: 4px 0 0 4px; }
  header .alpha a:link, header .alpha a:visited, header .alpha a:hover {
    color: #eee; }
  header .alpha:hover {
    color: #fff;
    background: #a51111; }
    header .alpha:hover:after {
      content: ' - Send comments to @jeffhui'; }

.nav {
  height: 3em;
  text-align: center;
  float: right;
  position: relative;
  left: -50%;
  margin-bottom: 10px; }
  .nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    left: 50%; }
  .nav li {
    float: left;
    margin: 0;
    padding: 0;
    border: 1px solid #551111;
    border-left: 0;
    border-right: 0;
    text-align: center; }
    .nav li:first-child {
      border-left: 1px solid #551111;
      border-radius: 5px 0 0 5px;
      -moz-border-radius: 5px 0 0 5px;
      -webkit-border-radius: 5px 0 0 5px; }
      .nav li:first-child a:link {
        border-radius: 4px 0 0 4px;
        -moz-border-radius: 4px 0 0 4px;
        -webkit-border-radius: 4px 0 0 4px; }
    .nav li:last-child {
      border-right: 1px solid #551111;
      border-radius: 0 5px 5px 0;
      -moz-border-radius: 0 5px 5px 0;
      -webkit-border-radius: 0 5px 5px 0; }
      .nav li:last-child a:link, .nav li:last-child a:link:visited {
        border-radius: 0 4px 4px 0;
        -moz-border-radius: 0 4px 4px 0;
        -webkit-border-radius: 0 4px 4px 0;
        border-right: 0; }
  .nav a:link, .nav a:visited {
    float: left;
    display: block;
    padding: 8px;
    color: #fff;
    width: 80px;
    border: 0;
    border-left: 1px solid #943030;
    border-right: 1px solid #560000;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0; }
    .nav a:link:hover, .nav a:visited:hover {
      text-decoration: none;
      border-left: 1px solid #943030;
      border-right: 1px solid #560000; }
  .nav a.selected:link, .nav a.selected:visited {
    border: 0;
    border-left: 1px solid #943030;
    border-right: 1px solid #560000;
    color: #f77;
    background: #741010;
    /* Old browsers */
    background: -moz-linear-gradient(top, #741010 0%, #942020 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #741010), color-stop(100%, #942020));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #741010 0%, #942020 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #741010 0%, #942020 100%);
    /* Opera11.10+ */
    background: -ms-linear-gradient(top, #741010 0%, #942020 100%);
    /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#741010', endColorstr='#942020',GradientType=0 );
    /* IE6-9 */
    background: linear-gradient(top, #741010 0%, #942020 100%);
    /* W3C */ }
    .nav a.selected:link:hover, .nav a.selected:visited:hover {
      color: #fff;
      background: #741010;
      /* Old browsers */
      background: -moz-linear-gradient(top, #741010 0%, #b42020 100%);
      /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #741010), color-stop(100%, #b42020));
      /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, #741010 0%, #b42020 100%);
      /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top, #741010 0%, #b42020 100%);
      /* Opera11.10+ */
      background: -ms-linear-gradient(top, #741010 0%, #b42020 100%);
      /* IE10+ */
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#741010', endColorstr='#b42020',GradientType=0 );
      /* IE6-9 */
      background: linear-gradient(top, #741010 0%, #b42020 100%);
      /* W3C */ }

/* END HEADER */
/* SEARCHBOX */
.searchform {
  width: 295px;
  margin: 0 auto 7px auto;
  padding: 0;
  text-align: center; }
  .searchform #d {
    float: left;
    font-size: 100%;
    display: block;
    width: 65px; }
  .searchform .searchbox {
    width: 220px;
    padding: 0;
    margin: 0 0 0 10px;
    font-size: 100%; }

/* END SEARCHBOX */
/* LISTVIEW */
.listview p {
  padding: 5px; }
.listview ul {
  list-style: none; }
.listview li {
  margin: 0; }
  .listview li a:link, .listview li a:visited {
    padding: 3px 5px;
    display: block;
    text-decoration: none;
    color: #222;
    text-shadow: 1px 1px 0 #fff;
    border-top: 1px solid #d0d0d0;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
  .listview li:last-child a:link, .listview li:last-child a:visited {
    border-bottom: 1px solid #d0d0d0; }
  .listview li a:link:hover, .listview li a:visited:hover {
    background: #fff;
    background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, white 50%, rgba(255, 255, 255, 0) 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(50%, white), color-stop(100%, rgba(255, 255, 255, 0)));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, white 50%, rgba(255, 255, 255, 0) 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, white 50%, rgba(255, 255, 255, 0) 100%);
    /* Opera11.10+ */
    background: -ms-linear-gradient(left, rgba(255, 255, 255, 0) 0%, white 50%, rgba(255, 255, 255, 0) 100%);
    /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=1 );
    /* IE6-9 */
    background: linear-gradient(left, rgba(255, 255, 255, 0) 0%, white 50%, rgba(255, 255, 255, 0) 100%);
    /* W3C */
    text-decoration: none;
    color: #940000;
    text-shadow: 1px 1px 0 #fff; }
    .listview li a:link:hover .disclosure, .listview li a:visited:hover .disclosure {
      color: #940000; }
  .listview li a:link:active, .listview li a:visited:active, .listview li a.selected {
    color: #fff;
    text-shadow: 0 0 0 transparent;
    background: #b30505;
    /* Old browsers */
    background: -moz-linear-gradient(top, #b30505 0%, #960100 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b30505), color-stop(100%, #960100));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #b30505 0%, #960100 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #b30505 0%, #960100 100%);
    /* Opera11.10+ */
    background: -ms-linear-gradient(top, #b30505 0%, #960100 100%);
    /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b30505', endColorstr='#960100',GradientType=0 );
    /* IE6-9 */
    background: linear-gradient(top, #b30505 0%, #960100 100%);
    /* W3C */ }
    .listview li a:link:active .disclosure, .listview li a:visited:active .disclosure, .listview li a.selected .disclosure {
      color: #fff; }
  .listview li .disclosure {
    display: block;
    float: right;
    font-size: 140%;
    color: #999;
    position: relative;
    top: -3px; }

/* END LISVIEW */
/* TABLEVIEW */
/* END TABLEVIEW */
/* DEPARTMENTS */
#departments {
  margin-top: 1em; }
  #departments .deptcode {
    font-size: 110%; }
  #departments .deptname {
    display: block;
    font-size: 90%;
    color: #555;
    text-shadow: 1px 1px 0 #fff;
    white-space: nowrap;
    width: 95%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: noclip; }
  #departments a:link:hover .deptname, #departments a:visited:hover .deptname {
    color: #940000; }
  #departments a:link:active .deptname, #departments a:visited:active .deptname {
    color: #fff;
    text-shadow: 0 0 0 transparent; }

.touch #departments .deptname {
  color: #111; }
.touch #departments a:link:hover .deptname, .touch #departments a:visited:hover .deptname {
  color: #fff;
  text-shadow: 0 0 0 transparent; }

/* END DEPARTMENTS */
/* SELECTED_COURSES */
#selected_courses label.padded, #courses label.padded {
  margin-bottom: 0; }
#selected_courses .sections, #courses .sections {
  clear: left;
  display: block;
  font-size: 95%;
  margin-top: -5px;
  padding-bottom: 10px; }
  #selected_courses .sections td, #courses .sections td {
    border-bottom: 1px solid #aaa; }
  #selected_courses .sections:last-child td, #courses .sections:last-child td {
    border-bottom: 0; }
  #selected_courses .sections ul li, #courses .sections ul li {
    border: 0;
    padding: 2px 0;
    clear: both; }
  #selected_courses .sections input, #courses .sections input {
    top: 4px; }
  #selected_courses .sections .section, #courses .sections .section {
    padding: 0;
    padding-top: 4px; }
  #selected_courses .sections .days, #courses .sections .days {
    font-size: 85%;
    margin: 0;
    padding-left: 13px;
    clear: left; }
    #selected_courses .sections .days li, #courses .sections .days li {
      display: inline; }
    #selected_courses .sections .days li.item, #courses .sections .days li.item {
      margin: 0 1px 0 1px;
      padding: 0 0 0 2px;
      line-height: 1.5em;
      text-align: center; }
      #selected_courses .sections .days li.item.empty, #courses .sections .days li.item.empty {
        background: transparent;
        color: #999;
        display: none; }
      #selected_courses .sections .days li.item.selected, #courses .sections .days li.item.selected {
        background: #d0d0d0;
        border-radius: 3px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px; }
    #selected_courses .sections .days span, #courses .sections .days span {
      padding: 0;
      margin: 0; }
    #selected_courses .sections .days .short, #courses .sections .days .short {
      display: inline; }
    #selected_courses .sections .days .long, #courses .sections .days .long {
      display: none; }
    #selected_courses .sections .days .times, #courses .sections .days .times {
      display: inline;
      padding: 0 0 0 2px;
      margin: 0;
      background: #e0e0e0;
      font-weight: normal;
      border-radius: 3px;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px; }
  #selected_courses .sections .time, #courses .sections .time {
    margin: 0;
    display: inline; }
    #selected_courses .sections .time li, #courses .sections .time li {
      float: right;
      text-align: right;
      border-top: 0;
      margin: 0; }
  #selected_courses .sections .instructors, #courses .sections .instructors {
    float: right;
    font-weight: bold; }
    #selected_courses .sections .instructors li:last-child:after, #courses .sections .instructors li:last-child:after {
      content: ''; }
    #selected_courses .sections .instructors li:after, #courses .sections .instructors li:after {
      content: ', '; }
#selected_courses .crn, #courses .crn {
  color: #940000; }
#selected_courses .section-seats-left, #courses .section-seats-left {
  font-weight: bold; }

.total_credits {
  float: left;
  color: #333;
  padding: 5px 10px 5px 0; }

.touch .total_credits {
  padding-left: 5px; }

.actions {
  float: right;
  margin-right: -5px; }

.touch .actions {
  margin-right: 0; }

/* END SELECTED_COURSES */
/* COURSES */
#courses {
  margin-top: 1em;
  /*
  .no-seats {
  	$the-color: #555;
  	a:link, a:visited, .padded {
  		color: $the-color;
  		.name {
  			color: $the-color;
  		}
  		.credits {
  			color: $the-color;
  		}
  		.seats-left {
  			color: #555;
  		}
  		.code {
  			color: #544;
  		}
  	}
  }
  */ }
  #courses label {
    vertical-align: middle; }
  #courses input {
    /* checkbox */
    position: relative;
    top: 8px;
    float: left; }
  #courses li {
    position: relative;
    border-bottom: 1px solid #d0d0d0; }
    #courses li:first-child {
      border-top: 1px solid #d0d0d0; }
  #courses .padded {
    padding: 4px 8px;
    display: block; }
  #courses a:link, #courses a:visited {
    border: 0; }
  #courses h2 {
    text-align: center;
    clear: none;
    color: #333;
    font-weight: 200;
    letter-spacing: 1px;
    padding: 0 0 5px 0;
    text-shadow: 1px 1px 0 #fff; }
  #courses .name {
    padding-left: 2px;
    width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: noclip; }
  #courses .disclosure {
    float: none;
    position: absolute;
    right: 0;
    top: -1px;
    /* TODO: add COURSE DETAIL */
    display: none; }
  #courses .code {
    font-size: 85%;
    color: #940000; }
  #courses .credits, #courses .seats-left {
    color: #222;
    font-size: 90%;
    padding-left: 3px; }
  #courses .credits {
    display: inline;
    padding-right: 3px;
    /*
    background: #e0e0e0;
    */
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px; }
  #courses .seats-left {
    float: right;
    font-size: 85%;
    position: absolute;
    right: 17px;
    top: 25px; }
  #courses .secondary {
    clear: left;
    display: block;
    margin-top: -2px;
    padding-left: 13px;
    text-shadow: 1px 1px 0 #fff; }
  #courses .no-sections a:link, #courses .no-sections a:visited, #courses .no-sections .padded {
    color: #555555; }
    #courses .no-sections a:link .name, #courses .no-sections a:visited .name, #courses .no-sections .padded .name {
      color: #555555; }
    #courses .no-sections a:link .credits, #courses .no-sections a:visited .credits, #courses .no-sections .padded .credits {
      color: #555555; }
    #courses .no-sections a:link .seats-left, #courses .no-sections a:visited .seats-left, #courses .no-sections .padded .seats-left {
      color: #555; }
    #courses .no-sections a:link .code, #courses .no-sections a:visited .code, #courses .no-sections .padded .code {
      color: #544; }
  #courses a:link:hover, #courses a:visited:hover {
    background: #fff;
    background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, white 50%, rgba(255, 255, 255, 0) 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(50%, white), color-stop(100%, rgba(255, 255, 255, 0)));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, white 50%, rgba(255, 255, 255, 0) 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, white 50%, rgba(255, 255, 255, 0) 100%);
    /* Opera11.10+ */
    background: -ms-linear-gradient(left, rgba(255, 255, 255, 0) 0%, white 50%, rgba(255, 255, 255, 0) 100%);
    /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=1 );
    /* IE6-9 */
    background: linear-gradient(left, rgba(255, 255, 255, 0) 0%, white 50%, rgba(255, 255, 255, 0) 100%);
    /* W3C */
    text-decoration: none;
    color: #940000;
    text-shadow: #fff 1px 1px 0; }
    #courses a:link:hover .name, #courses a:link:hover .code, #courses a:visited:hover .name, #courses a:visited:hover .code {
      color: #940000; }
    #courses a:link:hover .credits, #courses a:visited:hover .credits {
      background: transparent; }
    #courses a:link:hover .disclosure, #courses a:visited:hover .disclosure {
      color: #940000; }
  #courses a:link:active, #courses a:visited:active, #courses a.selected {
    color: #fff;
    text-shadow: transparent 0 0 0; }
  #courses .instructors, #courses .kinds {
    display: none; }
  #courses .notes {
    display: block;
    clear: left;
    color: #444; }
    #courses .notes ul {
      padding: 0 0 0 0; }
      #courses .notes ul li {
        border: 0; }
  #courses .tinyspinner {
    position: absolute;
    top: 30px;
    left: 0; }

/* END COURSES */
/* COURSE DETAIL */
#course h1 {
  font-size: 95%;
  font-weight: 200;
  padding: 0;
  margin: 0; }
#course h2 {
  font-weight: 200; }
#course .code {
  color: #940000;
  padding-left: 20px; }

/* END COURSE DETAIL */
/* SCHEDULES */
#schedules p {
  text-align: center; }
#schedules h1 {
  font-size: 130%;
  padding: 20px 0 0 0;
  text-align: center;
  font-weight: 200;
  margin: auto;
  text-shadow: 1px 1px 0 #fff;
  width: 285px; }
  #schedules h1 .view-schedules {
    display: block;
    float: left;
    height: 5px;
    width: 7px;
    border: 10px solid #940000;
    background: #940000;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px; }
    #schedules h1 .view-schedules:hover {
      background: #b42020;
      border-color: #b42020; }
  #schedules h1 .prev-schedule, #schedules h1 .next-schedule {
    text-decoration: none;
    font-size: 150%;
    margin: 0;
    padding: 2px 0 0 0;
    color: #610000;
    letter-spacing: -8px;
    border: 10px solid #940000; }
    #schedules h1 .prev-schedule:hover, #schedules h1 .next-schedule:hover {
      color: #b42020; }
    #schedules h1 .prev-schedule.disabled, #schedules h1 .next-schedule.disabled {
      cursor: default;
      color: #d0d0d0; }
  #schedules h1 .prev-schedule {
    float: left;
    text-align: left;
    border-color: transparent #940000 transparent transparent;
    border-width: 10px 20px 10px 0; }
    #schedules h1 .prev-schedule:hover {
      border-color: transparent #b42020 transparent transparent; }
    #schedules h1 .prev-schedule.disabled {
      border-color: transparent #d0d0d0 transparent transparent; }
  #schedules h1 .next-schedule {
    float: right;
    text-align: right;
    border-color: transparent transparent transparent #940000;
    border-width: 10px 0 10px 20px; }
    #schedules h1 .next-schedule:hover {
      border-color: transparent transparent transparent #b42020; }
    #schedules h1 .next-schedule.disabled {
      border-color: transparent transparent transparent #d0d0d0; }
#schedules .share {
  text-align: center; }
#schedules .schedule-crns {
  padding: 5px 0 0 0;
  margin: 0;
  text-align: center;
  font-size: 95%; }
#schedules .dayview .dow {
  padding: 5px 0;
  margin: -36px 0 3px 0;
  display: block;
  clear: left;
  text-align: center;
  font-size: 130%;
  font-weight: 200;
  border-bottom: 1px solid #d0d0d0;
  text-shadow: 1px 1px 0 #fff; }
#schedules .dayview:first-child .dow {
  float: none;
  padding: 0 0 5px 0;
  margin: 0 0 3px 0; }
#schedules .row {
  display: block;
  clear: left;
  width: 100%;
  height: 60px;
  border-bottom: 1px solid #d0d0d0; }
  #schedules .row:first-child {
    color: #8c8c8c; }
  #schedules .row:last-child {
    color: #8c8c8c; }
#schedules .hour {
  padding: 0 5px 0 0;
  display: block;
  width: 50px;
  text-align: right;
  text-shadow: 1px 1px 0 #fff;
  margin-bottom: -22px; }
#schedules .class {
  margin: -1px 5px 0 0;
  clear: left;
  display: block;
  float: right;
  position: relative;
  width: 76.5625%;
  padding: 5px;
  font-size: 90%;
  border: 1px solid transparent;
  overflow: hidden;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -webkit-transition: width 0.2s ease-in-out;
  -moz-transition: width 0.2s ease-in-out;
  -o-transition: width 0.2s ease-in-out;
  -ms-transition: width 0.2s ease-in-out;
  transition: width 0.2s ease-in-out; }
  #schedules .class.color1 {
    background: #d7b8b8;
    border-color: #bc9393; }
  #schedules .class.color2 {
    background: #b8d7b8;
    border-color: #93bc93; }
  #schedules .class.color3 {
    background: #b8b8d7;
    border-color: #9393bc; }
  #schedules .class.color4 {
    background: #d7d6b7;
    border-color: #bcb192; }
  #schedules .class.color5 {
    background: #bccbd7;
    border-color: #97a6bc; }
  #schedules .class.color6 {
    background: #d7c2d5;
    border-color: #bc9db0; }
  #schedules .class.color7 {
    background: #d0d7cd;
    border-color: #b5b2a8; }
  #schedules .class.color8 {
    background: #a7d7cb;
    border-color: #8cb2a6; }
  #schedules .class.color9 {
    background: #ffc37d;
    border-color: #e49e58; }
  #schedules .class .time {
    position: absolute;
    top: 5px;
    right: 0;
    display: block;
    font-size: 90%; }
    #schedules .class .time .sep {
      margin: 0 -2px 0 -2px;
      padding: 0; }
  #schedules .class .code {
    display: block;
    font-size: 90%; }
  #schedules .class .name {
    padding: 0;
    font-size: 110%;
    display: block; }
  #schedules .class .crn {
    font-weight: bold; }
  #schedules .class .location, #schedules .class .instructor, #schedules .class .kind {
    display: block;
    float: left;
    padding-top: 1em;
    padding-right: 5px; }
  #schedules .class .kind {
    color: #444; }
  #schedules .class .location {
    float: right;
    padding-right: 0; }
  #schedules .class.medium {
    /* approximately 1.5 hour time slot */ }
    #schedules .class.medium .location, #schedules .class.medium .instructor, #schedules .class.medium .kind {
      padding-top: 0.5em; }
    #schedules .class.medium.small {
      /* approximately 1 hour time slot */ }
      #schedules .class.medium.small .name {
        display: none; }
      #schedules .class.medium.small .location, #schedules .class.medium.small .instructor, #schedules .class.medium.small .kind {
        padding-top: 0; }
      #schedules .class.medium.small.very {
        /* approximately 30 min time slot */
        padding: 6px 5px 5px 5px; }
        #schedules .class.medium.small.very .time, #schedules .class.medium.small.very .kind, #schedules .class.medium.small.very .location {
          display: none; }
        #schedules .class.medium.small.very .code {
          float: left; }
        #schedules .class.medium.small.very .code {
          padding-right: 0.3em; }
        #schedules .class.medium.small.very .instructor {
          float: right; }
        #schedules .class.medium.small.very .location {
          display: none; }

#thumbnails h1 {
  text-align: center;
  font-size: 130%; }
#thumbnails .thumbnail {
  height: 140px;
  width: 110px;
  float: left; }
  #thumbnails .thumbnail.selected .day {
    background: #e0e0e0; }
  #thumbnails .thumbnail:hover {
    cursor: pointer; }
    #thumbnails .thumbnail:hover .day {
      background: #822; }
    #thumbnails .thumbnail:hover .row {
      border-bottom: 1px solid #b55;
      /*
      &.noon {
      	background: #a44;
      }
      */ }
      #thumbnails .thumbnail:hover .row:first-child {
        border-top: 1px solid #b55; }
    #thumbnails .thumbnail:hover .class.color1 {
      background: #d7b8b8;
      border-color: #bc9393; }
    #thumbnails .thumbnail:hover .class.color2 {
      background: #b8d7b8;
      border-color: #93bc93; }
    #thumbnails .thumbnail:hover .class.color3 {
      background: #b8b8d7;
      border-color: #9393bc; }
    #thumbnails .thumbnail:hover .class.color4 {
      background: #d7d6b7;
      border-color: #bcb192; }
    #thumbnails .thumbnail:hover .class.color5 {
      background: #bccbd7;
      border-color: #97a6bc; }
    #thumbnails .thumbnail:hover .class.color6 {
      background: #d7c2d5;
      border-color: #bc9db0; }
    #thumbnails .thumbnail:hover .class.color7 {
      background: #d0d7cd;
      border-color: #b5b2a8; }
    #thumbnails .thumbnail:hover .class.color8 {
      background: #a7d7cb;
      border-color: #8cb2a6; }
    #thumbnails .thumbnail:hover .class.color9 {
      background: #ffc37d;
      border-color: #e49e58; }
#thumbnails .day {
  float: left;
  width: 20px;
  padding: 1px; }
#thumbnails .row {
  height: 8px;
  border-bottom: 1px solid #aeaeae;
  /*
  &.noon {
  	background: #d0d0d0;
  }
  */ }
  #thumbnails .row:first-child {
    border-top: 1px solid #aeaeae;
    border-bottom: 1px solid #aeaeae;
    height: 9px; }
  #thumbnails .row:last-child {
    border-bottom: 1px solid #aeaeae; }
#thumbnails .class {
  display: block;
  position: relative;
  z-index: 1000;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px; }
  #thumbnails .class.color1 {
    background: #b59696;
    border-color: #9a7171; }
  #thumbnails .class.color2 {
    background: #96b596;
    border-color: #719a71; }
  #thumbnails .class.color3 {
    background: #9696b5;
    border-color: #71719a; }
  #thumbnails .class.color4 {
    background: #b5b495;
    border-color: #9a8f70; }
  #thumbnails .class.color5 {
    background: #9aa9b5;
    border-color: #75849a; }
  #thumbnails .class.color6 {
    background: #b5a0b3;
    border-color: #9a7b8e; }
  #thumbnails .class.color7 {
    background: #aeb5ab;
    border-color: #939086; }
  #thumbnails .class.color8 {
    background: #85b5a9;
    border-color: #6a9084; }
  #thumbnails .class.color9 {
    background: #dda15b;
    border-color: #c27c36; }

/* END SCHEDULES */
/* FOOTER */
footer {
  font-size: 80%;
  text-align: center;
  color: #555;
  margin-top: 1em;
  text-shadow: 1px 1px 0 #fff;
  padding-bottom: 2px; }

/* END FOOTER */
/* TOUCH */
.touch .nav a:link, .touch .nav a:visited {
  -webkit-tap-highlight-color: #999; }
.touch .listview li a:link, .touch .listview li a:visited {
  color: #000;
  -webkit-tap-highlight-color: #b30505; }
.touch .listview li a:link:hover, .touch .listview li a:visited:hover, .touch .listview li a:link:active, .touch .listview li a:visited:active, .touch .listview li a.selected {
  color: #000;
  text-shadow: 0 0 0 transparent;
  /*@include background-gradient(#b30505, #960100);*/
  /* -webkit-tap-highlight-color: -webkit-linear-gradient(top, #b30505 0%, #960100 100%); */
  background: transparent;
  /* Old browsers */
  background: -moz-linear-gradient(top, transparent 0%, transparent 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, transparent), color-stop(100%, transparent));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, transparent 0%, transparent 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, transparent 0%, transparent 100%);
  /* Opera11.10+ */
  background: -ms-linear-gradient(top, transparent 0%, transparent 100%);
  /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='transparent', endColorstr='transparent',GradientType=0 );
  /* IE6-9 */
  background: linear-gradient(top, transparent 0%, transparent 100%);
  /* W3C */ }
  .touch .listview li a:link:hover .disclosure, .touch .listview li a:visited:hover .disclosure, .touch .listview li a:link:active .disclosure, .touch .listview li a:visited:active .disclosure, .touch .listview li a.selected .disclosure {
    color: #999; }
.touch .searchbox {
  height: 2em; }
.touch #departments .deptname {
  color: #000; }
.touch #departments a:link:hover .deptname, .touch #departments a:visited:hover .deptname {
  color: #000; }
.touch #departments a:link:active .deptname, .touch #departments a:visited:active .deptname {
  color: #000; }

/* END TOUCH */
