body {
  min-width: 470px;
  /* @include transition(all $transition-fast $transition-type); */ }

.listview li a:link, .listview li a:visited {
  padding: 3px 7px;
  -webkit-transition: padding 0.3s ease-in-out;
  -moz-transition: padding 0.3s ease-in-out;
  -o-transition: padding 0.3s ease-in-out;
  -ms-transition: padding 0.3s ease-in-out;
  transition: padding 0.3s ease-in-out; }

.searchform {
  width: 295px;
  text-align: center; }
  .searchform #d {
    display: none; }
  .searchform .searchbox {
    width: 295px;
    margin: 0; }

#courses .sections {
  padding-right: 17px; }
#courses .seats-left {
  top: 30px; }
#courses .instructors {
  display: block;
  font-size: 85%; }
  #courses .instructors ul {
    display: inline;
    padding: 0; }
  #courses .instructors li {
    margin: 0;
    border: 0;
    display: inline;
    padding: 0 2px;
    background: transparent;
    color: #000;
    text-shadow: transparent 0 0 0;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px; }
#courses .kinds {
  display: inline; }
  #courses .kinds ul {
    display: inline;
    padding: 0;
    position: absolute;
    top: 5px;
    right: 10px; }
  #courses .kinds li {
    border: 0;
    float: right;
    margin: 0 3px 0 0;
    padding: 0 4px;
    color: #333;
    text-shadow: transparent 0 0 0;
    border-radius: 0 0 2px 2px;
    -moz-border-radius: 0 0 2px 2px;
    -webkit-border-radius: 0 0 2px 2px; }
#courses .no-seats .instructors li, #courses .no-seats .kinds li {
  color: #333; }
#courses .notes ul {
  padding: 0 0 0 6px; }

#schedules .class {
  width: 83.3333333%;
  -webkit-transition: width 0.2s ease-in-out;
  -moz-transition: width 0.2s ease-in-out;
  -o-transition: width 0.2s ease-in-out;
  -ms-transition: width 0.2s ease-in-out;
  transition: width 0.2s ease-in-out; }
  #schedules .class.small {
    /* approximately 1 hour time slot */ }
    #schedules .class.small .name {
      display: block;
      float: left;
      padding-right: 0.3em;
      font-size: 100%; }

#courses .course .clear, #selected_courses .course .clear {
  margin-top: 20px; }
#courses .sections, #selected_courses .sections {
  padding-right: 17px; }
  #courses .sections .days, #selected_courses .sections .days {
    padding-left: 0;
    clear: none; }
    #courses .sections .days li.item.empty, #courses .sections .days li.item.selected, #selected_courses .sections .days li.item.empty, #selected_courses .sections .days li.item.selected {
      display: block;
      white-space: nowrap;
      clear: none;
      float: left;
      width: 45%;
      min-width: 230px;
      margin-left: 17px; }
    #courses .sections .days li.item.empty, #selected_courses .sections .days li.item.empty {
      display: none; }
    #courses .sections .days .short, #selected_courses .sections .days .short {
      display: none; }
    #courses .sections .days .long, #selected_courses .sections .days .long {
      display: block; }
    #courses .sections .days .times, #selected_courses .sections .days .times {
      padding: 0; }
