body {
  min-width: 768px;
  max-width: 992px;
  /* TODO: remove me after 992 is implemented */
  /* @include transition(all $transition-fast $transition-type);*/ }

#departments li a:link, #departments li a:visited {
  font-size: 120%;
  height: 1.5em; }
#departments .disclosure {
  font-size: 110%; }
#departments .deptcode {
  display: block;
  width: 75px;
  float: left; }
#departments .deptname {
  position: relative;
  top: 2px;
  display: inline;
  overflow: visible;
  text-overflow: clip; }

#courses input, #selected_courses input {
  /* checkbox */
  top: 7px; }
#courses li, #selected_courses li {
  position: relative; }
#courses .name, #selected_courses .name {
  font-size: 120%; }
#courses .code, #selected_courses .code {
  font-size: 100%;
  float: left;
  padding-right: 5px; }
#courses .seats-left, #selected_courses .seats-left {
  font-size: 100%;
  top: 30px; }
#courses .credits, #selected_courses .credits {
  font-size: 100%;
  color: #555;
  display: block;
  float: left; }
#courses .sections .days, #selected_courses .sections .days {
  clear: left;
  float: right;
  position: relative;
  top: -3em;
  margin-bottom: -3em; }
  #courses .sections .days li.item.empty, #courses .sections .days li.item.selected, #selected_courses .sections .days li.item.empty, #selected_courses .sections .days li.item.selected {
    display: block;
    min-width: initial;
    width: 95px;
    margin-left: 4px;
    float: left; }
  #courses .sections .days .long, #selected_courses .sections .days .long {
    display: block;
    float: none;
    width: 96%;
    border-right: 0; }
  #courses .sections .days .times, #selected_courses .sections .days .times {
    text-align: center; }
    #courses .sections .days .times li, #selected_courses .sections .days .times li {
      display: block;
      padding: 0; }
    #courses .sections .days .times li:after, #selected_courses .sections .days .times li:after {
      content: ''; }
#courses .sections .instructors, #selected_courses .sections .instructors {
  font-size: 95%;
  float: left;
  clear: left;
  margin-left: 18px;
  font-size: 105%; }
  #courses .sections .instructors li, #selected_courses .sections .instructors li {
    padding: 0; }

#schedules {
  float: right;
  position: relative;
  left: -50%; }
  #schedules h1, #schedules .schedule, #schedules .share, #schedules .schedule-crns, #schedules p {
    position: relative;
    left: 50%; }
  #schedules h1 {
    clear: both; }
  #schedules .schedule {
    padding-top: 1em;
    /*
    margin-right: 65px;
     */ }
  #schedules .dayview {
    width: 135px;
    margin: 0 3px;
    float: left;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
    #schedules .dayview .hour {
      display: none;
      width: 48px; }
    #schedules .dayview .dow {
      float: none;
      padding: 0 0 5px 0;
      margin: 0 0 3px 0; }
    #schedules .dayview:first-child .dow {
      padding-left: 25%; }
    #schedules .dayview .class {
      width: 115px;
      margin: -1px 3px 0 0; }
      #schedules .dayview .class .time {
        display: none; }
      #schedules .dayview .class .crn {
        display: block; }
      #schedules .dayview .class .code {
        font-size: 12px; }
        #schedules .dayview .class .code .crn {
          font-size: 125%; }
      #schedules .dayview .class .kind {
        position: absolute;
        display: block;
        top: 0;
        right: 0;
        font-size: 90%;
        padding: 0 5px 0 0;
        margin: 0;
        top: 5px;
        right: 0;
        font-size: 100%; }
      #schedules .dayview .class .instructor {
        padding-top: 0.25em; }
      #schedules .dayview .class.medium {
        font-size: 80%;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        -ms-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out; }
        #schedules .dayview .class.medium .location, #schedules .dayview .class.medium .kind {
          padding-top: 0; }
        #schedules .dayview .class.medium .name, #schedules .dayview .class.medium .location {
          /*display: none;*/
          zoom: 1;
          filter: alpha(opacity=0);
          opacity: 0;
          -webkit-transition: all 0.3s ease-in-out;
          -moz-transition: all 0.3s ease-in-out;
          -o-transition: all 0.3s ease-in-out;
          -ms-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out; }
        #schedules .dayview .class.medium .location {
          zoom: 1;
          filter: alpha(opacity=60);
          opacity: 0.6; }
        #schedules .dayview .class.medium:hover, #schedules .dayview .class.medium .selected {
          min-height: 85px;
          box-shadow: 0 2px 10px #666; }
          #schedules .dayview .class.medium:hover .location, #schedules .dayview .class.medium:hover .name, #schedules .dayview .class.medium .selected .location, #schedules .dayview .class.medium .selected .name {
            /*display: inline;*/
            zoom: 1;
            filter: alpha(opacity=100);
            opacity: 1;
            -webkit-transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
            -ms-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out; }
        #schedules .dayview .class.medium.small {
          overflow: hidden;
          -webkit-transition: all 0.2s ease-in-out;
          -moz-transition: all 0.2s ease-in-out;
          -o-transition: all 0.2s ease-in-out;
          -ms-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out; }
          #schedules .dayview .class.medium.small .name, #schedules .dayview .class.medium.small .location, #schedules .dayview .class.medium.small .instructor {
            /*display: none;*/
            zoom: 1;
            filter: alpha(opacity=0);
            opacity: 0;
            -webkit-transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
            -ms-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out; }
          #schedules .dayview .class.medium.small .name {
            display: none; }
          #schedules .dayview .class.medium.small .instructor {
            zoom: 1;
            filter: alpha(opacity=60);
            opacity: 0.6; }
          #schedules .dayview .class.medium.small:hover, #schedules .dayview .class.medium.small .selected {
            min-height: 70px;
            box-shadow: 0 2px 10px #666; }
            #schedules .dayview .class.medium.small:hover .location, #schedules .dayview .class.medium.small:hover .instructor, #schedules .dayview .class.medium.small:hover .name, #schedules .dayview .class.medium.small .selected .location, #schedules .dayview .class.medium.small .selected .instructor, #schedules .dayview .class.medium.small .selected .name {
              /*display: inline;*/
              zoom: 1;
              filter: alpha(opacity=100);
              opacity: 1;
              -webkit-transition: all 0.3s ease-in-out;
              -moz-transition: all 0.3s ease-in-out;
              -o-transition: all 0.3s ease-in-out;
              -ms-transition: all 0.3s ease-in-out;
              transition: all 0.3s ease-in-out; }
          #schedules .dayview .class.medium.small.very .kind {
            display: block; }
          #schedules .dayview .class.medium.small.very .location, #schedules .dayview .class.medium.small.very .instructor, #schedules .dayview .class.medium.small.very .crn {
            float: none;
            display: inline;
            zoom: 1;
            filter: alpha(opacity=0);
            opacity: 0;
            -webkit-transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
            -ms-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out; }
          #schedules .dayview .class.medium.small.very .instructor {
            display: block;
            zoom: 1;
            filter: alpha(opacity=60);
            opacity: 0.6; }
          #schedules .dayview .class.medium.small.very .crn {
            font-weight: bold;
            zoom: 1;
            filter: alpha(opacity=40);
            opacity: 0.4; }
          #schedules .dayview .class.medium.small.very:hover .location, #schedules .dayview .class.medium.small.very:hover .crn, #schedules .dayview .class.medium.small.very:hover .instructor, #schedules .dayview .class.medium.small.very .selected .location, #schedules .dayview .class.medium.small.very .selected .crn, #schedules .dayview .class.medium.small.very .selected .instructor {
            zoom: 1;
            filter: alpha(opacity=100);
            opacity: 1;
            -webkit-transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
            -ms-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out; }
    #schedules .dayview:first-child {
      width: 185px; }
      #schedules .dayview:first-child .hour {
        display: block; }
      #schedules .dayview:first-child .class {
        margin: -1px 3px 0 0; }
    #schedules .dayview .name {
      display: none; }
    #schedules .dayview .location {
      float: none;
      clear: both;
      padding: 0; }
    #schedules .dayview .instructor {
      padding-top: 0.5em; }
