/*
Syntax error: Invalid CSS after "red": expected expression (e.g. 1px, bold), was ";"
        on line 4 of static/global/sass/handheld.sass

1: 
2: /* HEADER */
3: header {
4: 	background: red;
5: 	position: absolute;
6: 	top: 0;
7: 	left: 0;
8: 	right: 0;
9: 	height: 40px;

Backtrace:
static/global/sass/handheld.sass:4
/Users/jeff/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.7/lib/sass/scss/parser.rb:898:in `expected'
/Users/jeff/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.7/lib/sass/script/lexer.rb:193:in `expected!'
/Users/jeff/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.7/lib/sass/script/parser.rb:458:in `assert_done'
/Users/jeff/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.7/lib/sass/script/parser.rb:50:in `parse'
/Users/jeff/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.7/lib/sass/script/parser.rb:140:in `parse'
/Users/jeff/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.7/lib/sass/script.rb:32:in `parse'
/Users/jeff/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.7/lib/sass/engine.rb:809:in `parse_script'
/Users/jeff/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.7/lib/sass/engine.rb:585:in `parse_property'
/Users/jeff/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.7/lib/sass/engine.rb:574:in `parse_property_or_rule'
/Users/jeff/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.7/lib/sass/engine.rb:555:in `parse_line'
/Users/jeff/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.7/lib/sass/engine.rb:448:in `build_tree'
/Users/jeff/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.7/lib/sass/engine.rb:467:in `block in append_children'
/Users/jeff/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.7/lib/sass/engine.rb:466:in `each'
/Users/jeff/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.7/lib/sass/engine.rb:466:in `append_children'
/Users/jeff/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.7/lib/sass/engine.rb:457:in `block in build_tree'
/Users/jeff/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.7/lib/sass/engine.rb:450:in `each'
/Users/jeff/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.7/lib/sass/engine.rb:450:in `build_tree'
/Users/jeff/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.7/lib/sass/engine.rb:467:in `block in append_children'
/Users/jeff/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.7/lib/sass/engine.rb:466:in `each'
/Users/jeff/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.7/lib/sass/engine.rb:466:in `append_children'
/Users/jeff/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.7/lib/sass/engine.rb:323:in `_to_tree'
/Users/jeff/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.7/lib/sass/engine.rb:293:in `_render'
/Users/jeff/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.7/lib/sass/engine.rb:240:in `render'
/Users/jeff/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.7/lib/sass/plugin/compiler.rb:319:in `update_stylesheet'
/Users/jeff/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.7/lib/sass/plugin/compiler.rb:181:in `block (2 levels) in update_stylesheets'
/Users/jeff/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.7/lib/sass/plugin/compiler.rb:175:in `each'
/Users/jeff/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.7/lib/sass/plugin/compiler.rb:175:in `block in update_stylesheets'
/Users/jeff/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.7/lib/sass/plugin/compiler.rb:173:in `each'
/Users/jeff/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.7/lib/sass/plugin/compiler.rb:173:in `update_stylesheets'
/Users/jeff/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.7/lib/sass/plugin/compiler.rb:257:in `block (4 levels) in watch'
/Users/jeff/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.7/vendor/fssm/lib/fssm/path.rb:73:in `call'
/Users/jeff/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.7/vendor/fssm/lib/fssm/path.rb:73:in `run_callback'
/Users/jeff/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.7/vendor/fssm/lib/fssm/path.rb:55:in `callback_action'
/Users/jeff/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.7/vendor/fssm/lib/fssm/path.rb:31:in `create'
/Users/jeff/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.7/vendor/fssm/lib/fssm/state/directory.rb:26:in `block in created'
/Users/jeff/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.7/vendor/fssm/lib/fssm/state/directory.rb:25:in `each'
/Users/jeff/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.7/vendor/fssm/lib/fssm/state/directory.rb:25:in `created'
/Users/jeff/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.7/vendor/fssm/lib/fssm/state/directory.rb:17:in `refresh'
/Users/jeff/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.7/vendor/fssm/lib/fssm/backends/polling.rb:17:in `block (2 levels) in run'
/Users/jeff/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.7/vendor/fssm/lib/fssm/backends/polling.rb:17:in `each'
/Users/jeff/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.7/vendor/fssm/lib/fssm/backends/polling.rb:17:in `block in run'
/Users/jeff/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.7/vendor/fssm/lib/fssm/backends/polling.rb:15:in `loop'
/Users/jeff/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.7/vendor/fssm/lib/fssm/backends/polling.rb:15:in `run'
/Users/jeff/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.7/vendor/fssm/lib/fssm/monitor.rb:26:in `run'
/Users/jeff/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.7/vendor/fssm/lib/fssm.rb:20:in `monitor'
/Users/jeff/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.7/lib/sass/plugin/compiler.rb:245:in `watch'
/Users/jeff/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.7/lib/sass/plugin.rb:111:in `method_missing'
/Users/jeff/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.7/lib/sass/exec.rb:408:in `watch_or_update'
/Users/jeff/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.7/lib/sass/exec.rb:294:in `process_result'
/Users/jeff/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.7/lib/sass/exec.rb:41:in `parse'
/Users/jeff/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.7/lib/sass/exec.rb:21:in `parse!'
/Users/jeff/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.7/bin/sass:8:in `<top (required)>'
/Users/jeff/.rvm/gems/ruby-1.9.2-p290/bin/sass:19:in `load'
/Users/jeff/.rvm/gems/ruby-1.9.2-p290/bin/sass:19:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"red\": expected expression (e.g. 1px, bold), was \";\"\A         on line 4 of static/global/sass/handheld.sass\A \A 1: \A 2: /* HEADER */\A 3: header {\A 4: 	background: red;\A 5: 	position: absolute;\A 6: 	top: 0;\A 7: 	left: 0;\A 8: 	right: 0;\A 9: 	height: 40px;"; }
