* {
  text-shadow: none !important;
  filter: none !important;
  -ms-filter: none !important; }

a:link, a:visited {
  color: #444 !important;
  text-decoration: underline; }

a[href]:after {
  content: " (" attr(href) ")"; }

abbr[title]:after {
  content: " (" attr(title) ")"; }

a[href^="javascript:"]:after,
a[href^="#"]:after {
  content: ""; }

pre, blockquote {
  border: 1px solid #999;
  page-break-inside: avoid; }

thead {
  display: table-header-group; }

tr, img {
  page-break-inside: avoid; }

@page {
  margin: .5cm; }

p, h2, h3 {
  orphans: 3;
  widows: 3; }

h2, h3 {
  page-break-after: avoid; }

/* CUSTOM */
h1, h2 {
  text-align: center; }

#header * {
  background: transparent !important;
  color: black !important; }

body {
  font-size: 16px; }

.nav, .alpha, .listview .disclosure, .searchform, .view-schedules {
  display: none; }

#departments a:link {
  text-decoration: none; }
#departments a[href]:after {
  content: ''; }

#selected_courses {
  list-style: none;
  padding-left: 0;
  margin-left: 0; }

#courses .code, #courses .credits {
  float: none; }
#courses .code {
  margin-right: 5px; }
#courses ul {
  list-style: none;
  padding-left: 0;
  margin-left: 0; }
#courses li {
  position: relative;
  border-bottom: 1px solid #ccc;
  margin-bottom: 5px;
  padding-bottom: 5px; }
#courses .code {
  background: #ddd;
  padding: 5px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px; }
#courses .credits, #courses .seats-left {
  display: inline; }

footer {
  display: none; }

header {
  display: none; }

.schedule_number {
  display: none; }

.ical_link {
  display: none; }

#schedules .schedule-crns {
  text-align: center;
  padding-bottom: 5px; }
#schedules .row {
  display: block;
  clear: left;
  width: 130px;
  height: 60px;
  border-bottom: 1px solid #d0d0d0; }
  #schedules .row:first-child, #schedules .row:last-child {
    display: none; }
#schedules .dayview {
  float: left; }
  #schedules .dayview .dow {
    padding: 5px 0;
    margin: -25px 3px 3px 0;
    width: 130px;
    height: 37px;
    display: block;
    clear: left;
    text-align: center;
    font-size: 130%;
    font-weight: 200;
    border-bottom: 1px solid #d0d0d0;
    text-shadow: 1px 1px 0 #fff; }
  #schedules .dayview .class {
    margin: -1px 5px 0 0;
    clear: left;
    display: block;
    float: right;
    position: relative;
    padding: 5px;
    font-size: 90%;
    border: 1px solid transparent;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px; }
    #schedules .dayview .class.color1 {
      background: #d7b8b8;
      border-color: #bc9393; }
    #schedules .dayview .class.color2 {
      background: #b8d7b8;
      border-color: #93bc93; }
    #schedules .dayview .class.color3 {
      background: #b8b8d7;
      border-color: #9393bc; }
    #schedules .dayview .class.color4 {
      background: #d7d6b7;
      border-color: #bcb192; }
    #schedules .dayview .class.color5 {
      background: #bccbd7;
      border-color: #97a6bc; }
    #schedules .dayview .class.color6 {
      background: #d7c2d5; }
    #schedules .dayview .class.color7 {
      background: #d0d7cd; }
    #schedules .dayview .class.color8 {
      background: #a7d7cb; }
    #schedules .dayview .class.color9 {
      background: #ffc37d; }
  #schedules .dayview .time {
    display: none; }
  #schedules .dayview .crn {
    display: none; }
  #schedules .dayview .hour {
    display: none; }
  #schedules .dayview .instructor {
    display: none; }
  #schedules .dayview:first-child .dow {
    display: block;
    width: 160px; }
  #schedules .dayview:first-child .row {
    display: block;
    width: 160px; }
    #schedules .dayview:first-child .row:first-child, #schedules .dayview:first-child .row:last-child {
      display: none; }
  #schedules .dayview:first-child .hour {
    display: block;
    font-size: 90%; }
  #schedules .dayview:first-child .class {
    margin: -19px 3px 0 0;
    width: 105px; }
