{% load compressed %}
<!DOCTYPE html>
<html lang="en" ng-app="yacs">
<head>
<meta charset="UTF-8" />
<title>YACS</title>

<!-- fonts -->
<link href="http://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet" type="text/css" />
<link href="http://fonts.googleapis.com/css?family=Lato:300" rel="stylesheet" type="text/css">

{% compressed_css 'angular' %}
{% compressed_css 'print' %}
{% compressed_js 'angular' %}

<script>
app.constant('STATIC_URL', "{{ STATIC_URL }}");
app.constant('ICAL_URL', "{% url 'ics' %}");
app.constant('CSRF_TOKEN', "{{ csrf_token }}");
</script>
{% block js %}{% endblock %}
</head>

{% block body %}
<body class="page-index" ng-controller="RootCtrl">
<div id="wrap">
	<div id="hd" ng-controller="NavCtrl">
		<h1>YACS</h1>
		<ul class="menu">
			<li ng-class="{selected: item==selectedItem}" ng-repeat="item in items">
			<a href="" ng-click="click(item)">{% templatetag openvariable %}item.name{% templatetag closevariable %}</a>
			</li>
		</ul>
		<a href="mailto:jeff@jeffhui.net?subject=YACS" class="feedback">Feedback</a>
	</div>
	<div id="bd">
		<form id="search" ng-controller="SearchCtrl" ng-show="searchOptions.visible">
			<input
			placeholder="Search {% templatetag openvariable %} semester.name {% templatetag closevariable %} Courses"
			type="text" id="q" name="q"
			ng-model="query" yacs-focus="performSearch()" />
		</form>

		<img class="spinner" src="{{ STATIC_URL }}img/spinner.gif" alt="Loading" ng-show="networkIndicator.isVisible()" />
		<div ng-view></div>
	</div>
	<div id="ft" ng-controller="FooterCtrl">
		&copy; 2013 Jeff Hui &amp; Friends. {% templatetag openvariable %} flavorText {% templatetag closevariable %} RCOS project.
	</div>
</div>
</body>
{% include 'analytics.html' %}
{% endblock body %}
</html>

